Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Fix error
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing tests
  api/evaluation/evaluation.go
  api/evaluation/evaluation_test.go
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Update api/auth/auth.proto
  api/auth/auth.proto
Owners: @lebogg

Add mutex to assessment results
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

First try for the evaluation of a first level control
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.proto
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Update service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Update stop evaluation
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Update descriptions
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Update filter comparison
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Update proto stuff to buf
  api/auth/auth.pb.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  internal/testutil/prototest/prototest.pb.go
Owners: @oxisto, @anatheka, @lebogg

Add assessment result filter to ListAssessmentResult (#877)
  api/assessment/assessment.go
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_test.go
  api/auth/auth.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  internal/testutil/prototest/prototest.pb.go
  internal/testutil/prototest/prototest.proto
  internal/util/deref.go
  internal/util/deref_test.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

playing around with stuff
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
Owners: @oxisto, @anatheka, @lebogg

more join tables
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
Owners: @oxisto, @anatheka, @lebogg

Implemented ListControlMonitoringStatus
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Added test
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Pre-populating controls in CreateToE
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  internal/testutil/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/inmemory/inmemory.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed test
  persistence/inmemory/inmemory.go
  service/orchestrator/toe.go
Owners: @lebogg, @oxisto, @anatheka

Fixed tests
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  persistence/gorm/gorm.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Added update method
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Added one more test
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Added authorization tests
  api/orchestrator/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Introducing monitoring status for controls (#886)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor StopEvaluation
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add description
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Fix merge conflicts
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix merge errors
  api/orchestrator/orchestrator.go
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add missing assessment results mutex
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Refactor StartEvaluation
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Update on comments; Update RemoveTargetOfEvaluation()
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

minor changes
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
Owners: @oxisto, @anatheka, @lebogg

++
  api/evaluation/evaluation_test.go
  api/orchestrator/orchestrator.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Update toe event naming
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Delete not needed fileds in update toe request
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Fix errors
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add informHook to update toe method
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Update status
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Add hooks for Target of Evaluation (#852)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

More validation
  api/errors.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_test.go
  api/request.go
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/testutil/prototest/prototest.pb.validate.go
  internal/util/struct.go
  internal/util/struct_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results_test.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

++
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Added more validation rules
  api/assessment/metric.pb.go
  api/assessment/metric.pb.validate.go
  api/assessment/metric.proto
  api/evidence/evidence.go
  api/evidence/evidence_test.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  policies/policies_test.go
  policies/rego.go
  service/assessment/assessment.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg
