Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Hopefully more coverage
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed linting
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

Mergy merge
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  api/evidence/evidence_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  api/assessment/metric_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

Add validate test
  service/validate_test.go
Owners: @oxisto, @anatheka, @lebogg

Adjusted test
  service/validate.go
  service/validate_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix error
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Add comment
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

Added more validation which is required
  api/assessment/assessment.proto
  service/assessment/assessment.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Owners: @lebogg, @oxisto, @anatheka

Some additional validation and cleanup
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  cli/commands/service/discovery/discovery.go
  cli/commands/tool/tool.go
  openapi/orchestrator/openapi.yaml
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Add more validation to proto files and fix tests
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

Last updates
  api/evidence/evidence.pb.go
  api/evidence/evidence.pb.validate.go
  api/evidence/evidence.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  internal/testutil/orchestratortest/orchestrator.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed test
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  cli/commands/tool/tool.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor AssessEvidence response
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

Add missing fields to metric configuration
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cmd/engine/engine.go
  service/assessment/assessment.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Fix tests
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed test
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  persistence/gorm/serializer.go
  service/orchestrator/metrics_test.go
  service/orchestrator/toe_test.go
Owners: @lebogg, @oxisto, @anatheka

Fix changes; add test
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Update engine.go
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Update engine.go
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Add more validation checks to generation
  service/discovery/discovery_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
Owners: @anatheka, @oxisto, @lebogg

Fix review comments
  policies/rego.go
Owners: @oxisto, @anatheka, @lebogg

Add catalog validation to test
  service/orchestrator/catalogs_test.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Add more tests
  service/orchestrator/catalogs_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix review comments
  policies/policies.go
  policies/rego.go
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

++
  policies/policies.go
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  policies/operators.rego
  policies/rego.go
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

Adding config to Rego eval
  api/assessment/metric.go
  policies/operators.rego
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  policies/operators.rego
Owners: @oxisto, @anatheka, @lebogg

Cleanup of tests
  api/assessment/metric.go
  policies/operators.rego
  policies/policies_test.go
  policies/rego.go
  policies/rego_test.go
Owners: @oxisto, @anatheka, @lebogg

Added more comments
  policies/rego.go
Owners: @oxisto, @anatheka, @lebogg

Add cloud service id to metric configuration
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor setting cloud service id to metric configuration
  service/assessment/assessment.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg
