Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Update empty slice to nil
  policies/rego_test.go
Owners: @oxisto, @anatheka, @lebogg

Delete unnecessary voc files
  voc/key_value_db.go
  voc/metric.go
  voc/requirement.go
  voc/requirement_catalog.go
  voc/risk_impact.go
Owners: @oxisto, @anatheka, @lebogg

Add old todo to objectStorage
  voc/object_storage.go
Owners: @oxisto, @anatheka, @lebogg

Fix naming *Storage
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  policies/rego_test.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
  voc/related.go
  voc/related_test.go
Owners: @oxisto, @anatheka, @lebogg

Delete evidence.go
  voc/evidence.go
Owners: @oxisto, @anatheka, @lebogg

Add description to services
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Update metric configuration validation
  api/orchestrator/orchestrator.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Fix tests
  api/orchestrator/orchestrator.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Add validate tests for UpdateMetricConfiguration
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add tests and copyright header
  api/assessment/metric.go
  api/assessment/metric_test.go
Owners: @oxisto, @anatheka, @lebogg

Add more tests
  api/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Improved descriptions
  api/orchestrator/orchestrator.proto
  service/orchestrator/catalogs.go
Owners: @lebogg, @oxisto, @anatheka

Make `CloudServiceID` configurable in discovery service
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  service/discovery/aws/compute.go
  service/discovery/aws/storage.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
  voc/voc.go
Owners: @oxisto, @anatheka, @lebogg

More testing
  service/discovery/discovery_test.go
Owners: @anatheka

Added test for custom cloud service ID
  service/discovery/discovery_test.go
Owners: @anatheka

Compiles but tests fail
  api/discovery/discovery.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/k8s.go
  service/discovery/k8s/network.go
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
  voc/voc.go
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
Owners: @oxisto, @anatheka, @lebogg

Add resourceTypes check to assessmentResult
  api/assessment/assessment.go
  api/assessment/assessment_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add check for existing resourceTypes in assessment result (#702)
  api/assessment/assessment.go
  api/assessment/assessment_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add updated voc files
  voc/backup.go
  voc/block_storage.go
  voc/container.go
  voc/file_storage.go
  voc/function.go
  voc/load_balancer.go
  voc/network_interface.go
  voc/network_service.go
  voc/object_storage.go
  voc/storage_service.go
  voc/virtual_machine.go
Owners: @oxisto, @anatheka, @lebogg

Add new types to tests
  service/discovery/aws/storage.go
  service/discovery/azure/storage_test.go
  voc/network_interface.go
  voc/object_storage.go
  voc/voc.go
Owners: @anatheka, @oxisto, @lebogg

Fix ObjectStorageServiceType
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/object_storage_service.go
Owners: @anatheka, @oxisto, @lebogg

Add auto-generated resource types
  voc/account.go
  voc/automatic_updates.go
  voc/backup.go
  voc/cicd_service.go
  voc/compute.go
  voc/container_image.go
  voc/container_orchestration.go
  voc/container_registry.go
  voc/database_service.go
  voc/database_storage.go
  voc/device_provisioning_service.go
  voc/document_database_service.go
  voc/identifiable.go
  voc/identity.go
  voc/image.go
  voc/io_t.go
  voc/job.go
  voc/key_value_database_service.go
  voc/load_balancer.go
  voc/logging_service.go
  voc/messaging_hub.go
  voc/network_interface.go
  voc/network_security_group.go
  voc/network_service.go
  voc/networking.go
  voc/object_storage.go
  voc/password_policy.go
  voc/relational_database_service.go
  voc/role_assignment.go
  voc/storage.go
  voc/virtual_network.go
  voc/virtual_sub_network.go
  voc/vm_image.go
  voc/workflow.go
Owners: @oxisto, @anatheka, @lebogg

Fix PR comments
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.go
  api/assessment/metric.pb.go
  api/assessment/metric_test.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  api/page_token.pb.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/assessment/assessment_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  api/orchestrator/orchestrator.proto
  service/orchestrator/catalogs.go
Owners: @lebogg, @oxisto, @anatheka

Update Catalog descriptions (#839)
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Addressed review comments
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/k8s.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  voc/voc.go
Owners: @anatheka, @oxisto, @lebogg

update metric tests
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing informHooks
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Fix comments
  api/assessment/metric.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing hooks
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Update GetMetricConfiguration description (#815)
  api/assessment/metric.go
  api/assessment/metric_test.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Revert inputs
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

fix
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Add test
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Add cloud service hook (#850)
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Add toe hooks
  api/orchestrator/orchestrator.go
  service/orchestrator/orchestrator.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
