Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Add k8s raw info
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
Owners: @anatheka

Add aws raw info
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
Owners: @anatheka

Fix log
  service/discovery/aws/compute.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
Owners: @anatheka

Update Test
  service/discovery/k8s/compute_test.go
Owners: @anatheka

Add more tests
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage_test.go
Owners: @anatheka

Update default target cloud service log
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Fix error in loadMetrics()
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

more tests
  voc/voc.go
  voc/voc_test.go
Owners: @oxisto, @anatheka, @lebogg

Delete untestable test
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Update voc files
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/network_test.go
  voc/application.go
  voc/backup.go
  voc/cloud_resource_group.go
  voc/compute.go
  voc/file_storage.go
  voc/firewall.go
  voc/http_request_handler.go
  voc/load_balancer.go
  voc/logging.go
  voc/network_interface.go
  voc/object_storage.go
  voc/resource_logging.go
  voc/storage.go
  voc/token_based_authentication.go
  voc/voc.go
Owners: @anatheka, @oxisto, @lebogg

Update compute test
  service/discovery/azure/compute_test.go
Owners: @anatheka

Add missing return
  service/discovery/azure/azure.go
Owners: @anatheka

Update raw information, now all used raw data is available in the raw field
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  voc/voc.go
  voc/voc_test.go
Owners: @anatheka, @oxisto, @lebogg

Fix deepsource issues
  voc/voc.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/aws/compute.go
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
Owners: @anatheka

Add backup storage discovery
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Fix backup storages in map
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Fix range of `MutualAuthentication` policy config
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fix adding backuped storages to resource list
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Fix azure compute test
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

add comment
  service/discovery/azure/azure.go
Owners: @anatheka

init
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Fix rawInfo error from review
  service/discovery/aws/compute.go
  service/discovery/aws/storage.go
Owners: @anatheka

deepsource fix
  service/discovery/aws/compute.go
  service/discovery/k8s/storage.go
Owners: @anatheka

more deepsource fix
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/storage.go
Owners: @anatheka

Fix merge conflict errors
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
Owners: @anatheka

Add tests
  internal/testdata/testdata.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Use 'Create' instead of 'Save' for INIT metrics
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Fix test
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Add tool_id to assessment_result
  api/assessment/assessment.go
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_test.go
  api/discovery/discovery.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/discovery/discovery.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Add filter tool_id to ListAssessmentResults
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  internal/testdata/testdata.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Update demo catalog
  catalogs/demo_catalog.json
  catalogs/example_catalog_1.json
  catalogs/example_catalog_2.json
  catalogs/example_catalog_3.json
  catalogs/example_catalog_4.json
  internal/testcatalogs/example_catalog_1.json
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix review comments
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing files
  internal/util/filesystem.go
  internal/util/filesystem_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix deepSource
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Fixed test
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Add test catalog
  internal/testcatalogs/demo_catalog.json
Owners: @oxisto, @anatheka, @lebogg

Delete demo catalog from orchestrator folder
  service/orchestrator/demo_catalogs.json
Owners: @oxisto, @anatheka, @lebogg

Fix review comment
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  service/assessment/assessment.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg
