Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Re-starting old stream channels instead of re-creating them
  api/streams.go
  api/streams_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/discovery.go
Owners: @anatheka

Update api/assessment/assessment.proto
  api/assessment/assessment.proto
Owners: @lebogg

Addressed review comments
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Optimized logging in stream
  api/streams.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Owners: @oxisto, @anatheka, @lebogg

Re-starting old stream channels instead of re-creating them (#977)
  api/streams.go
  api/streams_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Owners: @oxisto, @anatheka, @lebogg

Added `latest_by_resource_id` flag to `ListAssessmentResultsRequest` (#976)
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/persistence.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

store
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/defender.go
  service/discovery/discovery.go
  voc/account.go
Owners: @oxisto, @anatheka, @lebogg

Remove empty from validation rule
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
Owners: @oxisto, @anatheka, @lebogg

Add test
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Clean up
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Remove empty from ListControlsInScopeResponse validation rule (#981)
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Edit first set of metrics
  service/orchestrator/README.md
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

++
  cmd/engine/engine.go
  service/evaluation/evaluation.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Edit all remaining metrics
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fixed some Deepsource issues
  cli/commands/cloud/cloud_test.go
  policies/policies_test.go
  service/discovery/aws/storage_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed some Deepsource issues (#984)
  cli/commands/cloud/cloud_test.go
  policies/policies_test.go
  service/discovery/aws/storage_test.go
Owners: @oxisto, @anatheka, @lebogg

Removed `ListAssessmentResults` from assessment
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/assessment_test.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/assessment/assessment.go
  cli/commands/service/assessment/assessment_test.go
  cli/commands/service/orchestrator/orchestrator.go
  cli/commands/service/orchestrator/orchestrator_test.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/paginate_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix scales
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fix range fields
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fix TransportEncryptionAlgorithm and TLSVersion
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fix range in TLSVersion
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fix missing range fields
  policies/policies_test.go
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

++
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Update orchestrator README
  service/orchestrator/README.md
Owners: @oxisto, @anatheka, @lebogg

Update comment
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

begin refactoring
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Cut off seconds from timestamp for test
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add controls to controlInScope
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add listControls for catalogID
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Update generate
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Add example catalogs and README
  service/orchestrator/README.md
  service/orchestrator/example_catalog_1.json
  service/orchestrator/example_catalog_2.json
  service/orchestrator/example_catalog_3.json
  service/orchestrator/example_catalog_4.json
Owners: @oxisto, @anatheka, @lebogg

Fix catalogs
  service/orchestrator/example_catalog_1.json
  service/orchestrator/example_catalog_2.json
  service/orchestrator/example_catalog_3.json
  service/orchestrator/example_catalog_4.json
Owners: @oxisto, @anatheka, @lebogg

Extend catalogsFile to slice
  api/assessment/assessment.pb.go
  cmd/engine/engine.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Refactor load catalogs from read given files to read all files in folder
  cmd/engine/engine.go
  service/orchestrator/catalogs.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Read only json files
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Fix tests
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing folders
  catalogs/README.md
  catalogs/example_catalog_1.json
  catalogs/example_catalog_2.json
  catalogs/example_catalog_3.json
  catalogs/example_catalog_4.json
  cmd/engine/engine.go
  internal/testcatalogs/example_catalog_1.json
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

clean up
  cmd/engine/engine.go
  service/orchestrator/README.md
  service/orchestrator/example_catalog_1.json
  service/orchestrator/example_catalog_2.json
  service/orchestrator/example_catalog_3.json
  service/orchestrator/example_catalog_4.json
Owners: @oxisto, @anatheka, @lebogg
