Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Update StartEvaluation http option
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  openapi/evaluation/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Update comment
  api/evaluation/evaluation.proto
Owners: @lebogg

Update api/evaluation/evaluation.proto
  api/evaluation/evaluation.proto
Owners: @lebogg

Remove unnecessary file
  api/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Change message ordering
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  openapi/evaluation/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Update
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Update internal/testutil/evaluationtest/evaluation.go
  internal/testutil/evaluationtest/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Renamed QueryResponse to ListResourcesResponse
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  cli/commands/service/discovery/discovery_test.go
  openapi/discovery/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

Renamed QueryResponse to ListResourcesResponse
  cli/commands/service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

Renamed QueryResponse to ListResourcesResponse
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
Owners: @oxisto, @anatheka, @lebogg

Fixed name conversion related typo
  cli/commands/resource/resource_test.go
Owners: @oxisto, @anatheka, @lebogg

Embed filter fields in REQs into Filter messages (#1039)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery.go
  cli/commands/service/discovery/discovery_test.go
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix test
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Update ListAssessmentResultRequest
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Added Discovery status to show Azure and AWS discovery differences
  service/discovery/README.md
Owners: @anatheka

Added line breaks, changed headlines and details summary text
  service/discovery/README.md
Owners: @anatheka

Added authorization check to ListCertificates()
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Added Discovery status to show Azure and AWS discovery differences (#1054)
  service/discovery/README.md
Owners: @anatheka

Addressed review comments
  api/authorizer_test.go
  internal/testutil/auth.go
  internal/testutil/clitest/cli.go
  service/auth_middleware_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Consistent use of mock authorization strategy in tests
  internal/testutil/auth.go
  policies/rego_test.go
  service/authz_test.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Various test improvements
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  internal/testutil/auth.go
  internal/testutil/servicetest/authz.go
  policies/rego_test.go
  service/authz_test.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Various test improvements (#1062)
  api/authorizer_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  internal/testutil/auth.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/authz.go
  policies/rego_test.go
  service/auth_middleware_test.go
  service/authz_test.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixing various issues in the `Discovery` service
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cli/commands/service/discovery/discovery.go
  internal/api/request.go
  openapi/discovery/openapi.yaml
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Owners: @anatheka

Test cleanup
  service/discovery/discovery_test.go
Owners: @anatheka

Update service/discovery/discovery.go
  service/discovery/discovery.go
Owners: @anatheka

Added testing for Start
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.proto
  openapi/discovery/openapi.yaml
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/discovery_test.go
Owners: @anatheka

Added comment
  service/discovery/discovery.go
Owners: @anatheka

Fixing various issues in the `Discovery` service (#1061)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cli/commands/service/discovery/discovery.go
  internal/api/request.go
  openapi/discovery/openapi.yaml
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

More restructuring
  cli/commands/cloud/cloud_test.go
  cli/commands/login/login_test.go
  cmd/engine/engine.go
  internal/testutil/clitest/cli.go
  server/auth_middleware.go
  server/auth_middleware_test.go
  server/grpc.go
  server/rest/rest_test.go
  service/assessment/benchmark_test.go
Owners: @oxisto, @anatheka, @lebogg

Cleaning up CLI tests
  cli/commands/cloud/cloud_test.go
  cli/commands/login/login_test.go
  internal/testutil/clitest/cli.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Added comments
  server/auth_middleware_test.go
  server/grpc.go
  service/assessment/bufconn_test.go
Owners: @oxisto, @anatheka, @lebogg

Package restructuring
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/cloud/cloud_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/login/login_test.go
  cli/commands/metric/metric_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/commands/tool/tool_test.go
  cli/session_test.go
  clouditor.code-workspace
  cmd/engine/engine.go
  cmd/engine/engine_test.go
  internal/testutil/clitest/cli.go
  server/auth_middleware.go
  server/auth_middleware_test.go
  server/grpc.go
  server/grpc_test.go
  server/rest/rest.go
  server/rest/rest_test.go
  service/assessment/benchmark_test.go
  service/authorization.go
  service/authorization_test.go
  service/service.go
Owners: @oxisto, @anatheka, @lebogg

Update server/grpc.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Update server/grpc.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Update server/grpc.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

More error chaecking to make linter happy
  cli/commands/cloud/cloud_test.go
Owners: @oxisto, @anatheka, @lebogg

Optimizing gRPC server creation
  cli/commands/cloud/cloud_test.go
  cli/commands/login/login_test.go
  cmd/engine/engine.go
  cmd/engine/engine_test.go
  internal/testutil/clitest/cli.go
  rest/rest_test.go
  service/assessment/benchmark_test.go
  service/assessment/bufconn_test.go
  service/grpc.go
  service/grpc_test.go
Owners: @oxisto, @anatheka, @lebogg

Made deepsource happy
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg
