Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Change StartEvaluationRequest params
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Change StopEvaluationRequest params
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Overhaul of `ControlMonitoringStatus` API (#910)
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/persistence.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add validate check
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

More validate tests
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

More fixes and improvements
  internal/testutil/auth.go
  service/discovery/discovery_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

More validation tests
  internal/testutil/metrictest/metric.rego
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  persistence/inmemory/inmemory_test.go
Owners: @oxisto, @anatheka, @lebogg

Start refactoring mock variables
  cli/session_test.go
  internal/testutil/orchestratortest/orchestrator.go
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Hotfix for wrong HTTP method for RemoveControlFromScope
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Hotfix for wrong HTTP method for RemoveControlFromScope (#921)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

more refactoring
  api/assessment/assessment_test.go
  api/assessment/metric_test.go
  api/evidence/evidence_test.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/util/copy_test.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory_test.go
  service/assessment/assessment_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing file
  internal/testvariables/mock_structs.go
  internal/testvariables/mock_variables.go
Owners: @oxisto, @anatheka, @lebogg

Fix deep source error
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Renaming
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_test.go
  api/assessment/metric_test.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_test.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/testvariables/mock_structs.go
  internal/testvariables/mock_variables.go
  internal/util/copy_test.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory_test.go
  service/assessment/assessment_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add folders
  internal/testdata/testdata.go
  internal/testdata/testdatautils.go
Owners: @oxisto, @anatheka, @lebogg

Add defender call
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/defender.go
  service/discovery/discovery.go
  voc/account.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/azure/defender.go
  voc/account.go
Owners: @anatheka, @oxisto, @lebogg

Add check if key exists in an object
  policies/operators.rego
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/azure/defender.go
  voc/account.go
Owners: @anatheka, @oxisto, @lebogg

Using newer version of the add-to-project workflow
  .github/workflows/issues.yml
Owners: @oxisto

Using newer version of the add-to-project workflow (#934)
  .github/workflows/issues.yml
Owners: @oxisto

Exclude dependency issues from `add-to-project`
  .github/workflows/issues.yml
Owners: @oxisto

++
  service/discovery/azure/defender.go
  voc/account.go
Owners: @anatheka, @oxisto, @lebogg

Add more validation checks (#902)
  internal/testutil/auth.go
  internal/testutil/metrictest/metric.rego
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  persistence/inmemory/inmemory_test.go
  service/discovery/discovery_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Update orchestrator_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

fix merge errors
  persistence/gorm/gorm_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
Owners: @lebogg, @oxisto, @anatheka

++
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Update responses
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  service/assessment/assessment.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Removing api/auth user objects
  .vscode/settings.json
  api/auth/auth.pb.go
  api/auth/auth.pb.validate.go
  api/auth/auth.proto
  internal/testdata/testdata.go
  internal/testdata/testdatautils.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/util/struct_test.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed some tests
  persistence/gorm/gorm_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @lebogg, @oxisto, @anatheka

Some more changes
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  openapi/evidence/openapi.yaml
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Consolidation of test variables (#922)
  .vscode/settings.json
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_test.go
  api/assessment/metric_test.go
  api/auth/auth.pb.go
  api/auth/auth.pb.validate.go
  api/auth/auth.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_test.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/util/copy_test.go
  internal/util/struct_test.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  persistence/inmemory/inmemory_test.go
  service/assessment/assessment_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Added more tests
  .vscode/settings.json
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  internal/testdata/testdata.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added authorization
  api/evidence/evidence_store.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

update again
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix errors
  api/assessment/assessment.proto
  api/orchestrator/orchestrator.proto
  service/assessment/assessment_test.go
Owners: @lebogg, @oxisto, @anatheka

Fixed test error message
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Add more comments
  api/assessment/assessment.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Update StoreEvidenceX responses
  api/assessment/assessment.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Update service/evidence/evidence_store.go
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg
