Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Added comment to Filter
  api/evidence/evidence_store.proto
Owners: @lebogg

Expanded page_size description in ListEvidencesRequest -> page_size
  api/evidence/evidence_store.proto
Owners: @lebogg

Adjuested test cases and removed duplicated request parameter check
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  internal/testdata/testdata.go
  internal/testutil/evidencetest/evidence.go
  openapi/evidence/openapi.yaml
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added tests that check for UUID format
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added test that checks for pagination error handling
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added Common Issue section to ReadMe
  README.md
Owners: @oxisto, @anatheka, @lebogg

Upgraded to newest github.com/oxisto/oauth2go (#1013)
  go.mod
  go.sum
  internal/testutil/auth.go
  rest/rest.go
  service/auth_middleware.go
Owners: @oxisto, @anatheka, @lebogg

First review fixes
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/testutil/evaluationtest/evaluation.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix merge errors
  internal/testutil/orchestratortest/orchestrator.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Replaced deprecated functions
  cmd/engine/engine.go
  service/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Adding nil check for context to `AllowedCloudServices` of `AuthorizationStrategyJWT`
  service/authz.go
  service/authz_test.go
Owners: @oxisto, @anatheka, @lebogg

Adding nil check for context to `AllowedCloudServices` of `AuthorizationStrategyJWT` (#1024)
  service/authz.go
  service/authz_test.go
Owners: @oxisto, @anatheka, @lebogg

Added logic for AssessmentResult-GetRequest in proto file
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Implemented first version of GetAssessmentResult (by Id)
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Cleaned .proto file
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Updated Error Message
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Set up of test structure for GetAssessmentResult
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Improved function GetAssessmentResult
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed variable issue in GetAssessmentResult function
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Fixed storage error for test cases
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Added test case when no record found
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Update service/evidence/evidence_store.go
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Implemented filter as optional
  api/evidence/evidence_store.proto
Owners: @lebogg

Removed the ctx check
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Updated proto files
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/orchestrator/orchestrator.pb.go
Owners: @oxisto, @anatheka, @lebogg

Fixed request is missing test case
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Removed unnecessary tests
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/evidence/evidence.pb.go
  api/orchestrator/orchestrator.pb.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Removed unused constants
  internal/testdata/testdata.go
Owners: @oxisto, @anatheka, @lebogg

Cleaned code style by using Go idiom for if-statements
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Stayed consistent with var name in test
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Implemented auth check Nico mentioned
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Delete waitGroup mutex
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.validate.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add a test for `PermissionDenied` case
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor tests
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Made test leaner by using the mock variable directly
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Improved grammer and removed unused code in mock data
  api/orchestrator/orchestrator.proto
  internal/testutil/orchestratortest/orchestrator.go
Owners: @lebogg, @oxisto, @anatheka

Removed unused dependency
  go.mod
  go.sum
Owners: @oxisto, @anatheka, @lebogg

Improved code style
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Improved code style
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Implemented error test case more specific
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg
