Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

update
  go.mod
  go.sum
Owners: @oxisto, @anatheka, @lebogg

Adding persistence support for AssessmentResult
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  persistence/gorm/gorm.go
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

Migrating remaining calls to orchestrator storage
  api/assessment/assessment.proto
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Owners: @lebogg, @oxisto, @anatheka

Added one more missing authz check
  api/orchestrator/orchestrator.go
  service/assessment/assessment.go
  service/orchestrator/assessment_results.go
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

More test refactoring
  .vscode/settings.json
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  clouditor.code-workspace
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/assessment/openapi.yaml
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Revert "update"
  go.mod
  go.sum
Owners: @oxisto, @anatheka, @lebogg

++
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix response in error case
  CONTRIBUTING.md
  service/assessment/assessment.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix method responses (#937)
  CONTRIBUTING.md
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixing `MonitoringStatus`
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixing `MonitoringStatus` (#941)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

generate
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
Owners: @oxisto, @anatheka, @lebogg

Fix merge errors
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Store `AssessmentResult` in persistence layer (#940)
  .vscode/settings.json
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.gw.go
  clouditor.code-workspace
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/assessment/openapi.yaml
  persistence/gorm/gorm.go
  service/assessment/assessment.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

Add Evidences to Storage (#768)
  .vscode/settings.json
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  cmd/engine/engine.go
  internal/testdata/testdata.go
  openapi/evidence/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/serializer.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Add page size
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Retrieving all controls
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Fix CreateTargetOfEvaluation (#945)
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

FIxed List
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Fixed list controls in scope
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

qucik hack to enable 1500
  service/paginate.go
  service/validate.go
Owners: @oxisto, @anatheka, @lebogg

Hotfix for sudden golang-ci-lint error
  internal/util/copy.go
  internal/util/copy_test.go
Owners: @oxisto, @anatheka, @lebogg

Hotfix for sudden golang-ci-lint error (#953)
  internal/util/copy.go
  internal/util/copy_test.go
Owners: @oxisto, @anatheka, @lebogg

Init metatdata endpoint
  .gitignore
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  cmd/engine/engine.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Add missing files
  service/orchestrator/get_version.sh
  service/orchestrator/metadata.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/metadata.go
Owners: @oxisto, @anatheka, @lebogg

More listing
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Owners: @anatheka

Added test for resource group
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

Scoping azure list discovery to resource group
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
Owners: @anatheka

Added documentation
  service/discovery/azure/azure.go
Owners: @anatheka

Add assurance level
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  cmd/engine/engine.go
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add workaround for testing
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Update engine.go
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Update toe_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Hofix: Use `=` operator instead of `==`
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Even better documentation
  service/discovery/azure/azure.go
Owners: @anatheka

Hofix: Use `=` operator instead of `==` (#957)
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg
