Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

comments ++
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

more statistics
  real_cloud_benchmark_test.go
Owners: @oxisto, @anatheka, @lebogg

made related resource discovery insanly faster
  real_cloud_benchmark_test.go
  service/assessment/assessment.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

++
  real_cloud_benchmark_test.go
  service/assessment/benchmark_test.go
  service/evidence/evidence_store.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

evaluation ++
  real_cloud_benchmark_test.go
  service/orchestrator/evaluation.go
  service/orchestrator/paper.json
Owners: @oxisto, @anatheka, @lebogg

Add description
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Update description
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Add metric configuration validation
  api/assessment/assessment.go
  api/assessment/metric.go
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

GitHub Workflow: Push to Docker Hub (#781)
  .github/workflows/release.yml
  Dockerfile
Owners: @oxisto, @anatheka, @lebogg

Replaced deprecated version
  cli/commands/completion/completion.go
Owners: @oxisto, @anatheka, @lebogg

Ensuring the existance of the `.clouditor` directory when starting the engine
  internal/auth/key_loader.go
Owners: @oxisto, @anatheka, @lebogg

Added usage of `tparse` in test GitHub actions output
  .github/workflows/build.yml
Owners: @oxisto

Added usage of `tparse` in test GitHub actions output (#823)
  .github/workflows/build.yml
Owners: @oxisto

Fixed tests
  cli/commands/service/discovery/discovery_test.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

Vocabulary update
  cli/commands/resource/resource_test.go
  voc/account.go
  voc/identifiable.go
  voc/identity.go
  voc/immutability.go
  voc/network_service.go
  voc/object_storage.go
  voc/otp_based_authentication.go
  voc/rbac.go
  voc/related.go
  voc/related_test.go
  voc/role_assignment.go
  voc/storage.go
  voc/token_based_authentication.go
  voc/virtual_machine.go
  voc/voc.go
Owners: @oxisto, @anatheka, @lebogg

Added voc label
  .github/labeler.yml
Owners: @oxisto

Adapted policies
  policies/bundles/AdminMFAEnabled/data.json
  policies/bundles/AdminMFAEnabled/input.json
  policies/bundles/AdminMFAEnabled/metric.rego
  policies/bundles/AdminMixedDuties/data.json
  policies/bundles/AdminMixedDuties/metric.rego
  policies/bundles/AtRestEncryptionEnabled/input.json
  policies/bundles/AtRestEncryptionEnabled/metric.rego
  policies/bundles/AutomaticUpdatesEnabled/metric.rego
  policies/bundles/AutomaticUpdatesInterval/input.json
  policies/bundles/AutomaticUpdatesInterval/metric.rego
  policies/bundles/AutomaticUpdatesSecurityOnly/metric.rego
  policies/bundles/BootLoggingEnabled/metric.rego
  policies/bundles/BootLoggingOutput/metric.rego
  policies/bundles/BootLoggingRetention/metric.rego
  policies/bundles/CustomerKeyEncryption/metric.rego
  policies/bundles/IdentityPasswordPolicy/data.json
  policies/bundles/IdentityPasswordPolicy/input.json
  policies/bundles/IdentityPasswordPolicy/metric.rego
  policies/bundles/IdentityRecentActivity/data.json
  policies/bundles/IdentityRecentActivity/input.json
  policies/bundles/IdentityRecentActivity/metric.rego
  policies/bundles/MalwareProtectionEnabled/metric.rego
  policies/bundles/MalwareProtectionOutput/metric.rego
  policies/bundles/OSLoggingEnabled/metric.rego
  policies/bundles/OSLoggingRetention/metric.rego
  policies/bundles/ObjectStoragePublicAccessDisabled/data.json
  policies/bundles/ObjectStoragePublicAccessDisabled/metric.rego
  policies/bundles/ResourceInventory/data.json
  policies/bundles/ResourceInventory/metric.rego
  policies/bundles/RoleBroadAssignments/data.json
  policies/bundles/RoleBroadAssignments/metric.rego
  policies/bundles/RuntimeVersion/metric.rego
  policies/bundles/TLSVersion/metric.rego
  policies/bundles/TransportEncryptionAlgorithm/metric.rego
  policies/bundles/TransportEncryptionEnabled/metric.rego
  policies/bundles/TransportEncryptionEnforced/metric.rego
  service/assessment/assessment_test.go
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  policies/bundles/MixedDuties/data.json
  policies/bundles/MixedDuties/metric.rego
  policies/rego_test.go
Owners: @oxisto, @anatheka, @lebogg

Ensuring the existance of the `.clouditor` directory when starting the engine (#822)
  internal/auth/key_loader.go
Owners: @oxisto, @anatheka, @lebogg

More consistent usage of the input
  policies/bundles/AtRestEncryptionEnabled/metric.rego
  policies/bundles/ResourceInventory/metric.rego
  policies/bundles/TLSVersion/metric.rego
  policies/bundles/TransportEncryptionEnabled/metric.rego
  policies/bundles/TransportEncryptionEnforced/metric.rego
  voc/related.go
Owners: @oxisto, @anatheka, @lebogg

Trying to harmonize interfaces
  voc/account.go
  voc/identifiable.go
  voc/identity.go
  voc/otp_based_authentication.go
  voc/password_based_authentication.go
  voc/rbac.go
  voc/storage.go
  voc/token_based_authentication.go
  voc/voc.go
  voc/voc_test.go
Owners: @oxisto, @anatheka, @lebogg

More interface stuff
  service/discovery/aws/storage.go
  voc/abac.go
  voc/access_restriction.go
  voc/certificate_based_authentication.go
  voc/http_endpoint.go
  voc/identity_management.go
  voc/jwt_based_authentication.go
  voc/managed_key_encryption.go
  voc/no_authentication.go
  voc/otp_based_authentication.go
  voc/password_based_authentication.go
  voc/rbac.go
  voc/single_sign_on.go
  voc/token_based_authentication.go
  voc/voc.go
  voc/voc_test.go
Owners: @anatheka, @oxisto, @lebogg

More fixes
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/at_rest_encryption.go
  voc/customer_key_encryption.go
  voc/managed_key_encryption.go
  voc/voc.go
Owners: @anatheka, @oxisto, @lebogg

More tests
  voc/related_test.go
Owners: @oxisto, @anatheka, @lebogg

Addressed lebogg's remarks
  policies/bundles/AdminMFAEnabled/metric.rego
  policies/bundles/AdminMixedDuties/metric.rego
  voc/account.go
  voc/identifiable.go
  voc/identity_management.go
  voc/jwt_based_authentication.go
  voc/network_service.go
  voc/single_sign_on.go
  voc/voc_test.go
Owners: @oxisto, @anatheka, @lebogg

Apply suggestions from code review
  policies/bundles/CustomerKeyEncryption/metric.rego
  policies/bundles/RoleBroadAssignments/metric.rego
  policies/bundles/TransportEncryptionAlgorithm/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Fixes
  policies/bundles/BroadAssignments/data.json
  policies/bundles/BroadAssignments/metric.rego
  policies/bundles/RoleBroadAssignments/metric.rego
  policies/bundles/TransportEncryptionAlgorithm/metric.rego
  voc/identity.go
Owners: @oxisto, @anatheka, @lebogg

Fix
  policies/bundles/TLSVersion/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Apply suggestions from code review
  policies/bundles/IdentityRecentActivity/input.json
  policies/bundles/IdentityRecentActivity/metric.rego
  policies/bundles/ResourceInventory/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Update policies/bundles/AdminMFAEnabled/metric.rego
  policies/bundles/AdminMFAEnabled/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Added GitHub token to setup protoc step
  .github/workflows/build.yml
Owners: @oxisto

Added GitHub token to setup protoc step (#826)
  .github/workflows/build.yml
Owners: @oxisto

Fixed ListControls request
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Fixed `ListControls` request (#827)
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Refactor client creation for blobs and files
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
Owners: @anatheka

Fix tests
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
Owners: @anatheka

Add more tests
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

more AWS test coverage
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
Owners: @anatheka

Reducing some boiler-plate code
  service/discovery/azure/azure.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Owners: @anatheka

Refactor remaining client creations
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
