Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Persist discovered resource in discovery service
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cli/commands/service/discovery/discovery.go
  cmd/engine/engine.go
  openapi/discovery/openapi.yaml
  persistence/gorm/gorm.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

Added documentation
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  openapi/discovery/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Update api/discovery/discovery.proto
  api/discovery/discovery.proto
Owners: @lebogg

Persist discovered resource in discovery service (#980)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cli/commands/service/discovery/discovery.go
  cmd/engine/engine.go
  openapi/discovery/openapi.yaml
  persistence/gorm/gorm.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

Implemented table test structure for TestService_ListEvidences
  api/evidence/evidence_store.proto
  service/evidence/evidence_store_test.go
Owners: @lebogg, @oxisto, @anatheka

Added fields struct to test structure
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Created universal mock data with low coupling
  internal/testdata/testdata.go
  internal/testutil/evidencetest/evidence.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added functionality to test
  internal/testutil/evidencetest/evidence.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Add "resource group" option
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Enhance number of assurance_levels
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix deep source error
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Fix comments
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Enhance number of assurance_levels (#1009)
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Adjusted result access in ListEvidences() and added mock storage to test
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Adjuested loop config in ListEvidences test
  api/evidence/evidence_store.pb.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added authz field to fields in test
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Improved mock data naming
  internal/testdata/testdata.go
  internal/testutil/evidencetest/evidence.go
Owners: @oxisto, @anatheka, @lebogg

Update cmd/engine/engine.go
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Solved type issues in ListEvidences test
  api/evidence/evidence_store.proto
  internal/testdata/testdata.go
  internal/testutil/evidencetest/evidence.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @lebogg, @oxisto, @anatheka

Try to add test for discovery
  cmd/engine/engine.go
  cmd/engine/engine_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix panic of JWKS
  cmd/engine/engine.go
  cmd/engine/engine_test.go
Owners: @oxisto, @anatheka, @lebogg

Added TestCase: ValidateRequest() error handled correctly when req equals nil
  api/evidence/evidence_store.proto
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @lebogg, @oxisto, @anatheka

Added testcase for allow all
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
Owners: @oxisto, @anatheka, @lebogg

Added test
  service/authz_test.go
Owners: @oxisto, @anatheka, @lebogg

Retrieve allow all from JWT
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Retrieve allow all authorisation decision from JWT (#997)
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Added TestCases: 1. Only Cloud_Service_Id Filter, 2. Only Tool_Id filter
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Added input validation and input validation tests
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Upgraded to newest oauth2go
  go.mod
  go.sum
  internal/testutil/auth.go
  rest/rest.go
  service/auth_middleware.go
Owners: @oxisto, @anatheka, @lebogg

Trying to fix
  internal/testutil/auth.go
Owners: @oxisto, @anatheka, @lebogg

Finally fixed test
  internal/testutil/auth.go
Owners: @oxisto, @anatheka, @lebogg

Reverting to the state of the project at 407c26a
  cmd/engine/engine.go
  cmd/engine/engine_test.go
Owners: @oxisto, @anatheka, @lebogg

Remove (obsolete) categories
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Remove orchestrator README
  service/orchestrator/README.md
Owners: @oxisto, @anatheka, @lebogg

Change `AnomalyDetectionOutput`s description
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Improve some descriptions
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  internal/testutil/auth.go
Owners: @oxisto, @anatheka, @lebogg

Add Resource Group Argument to Engine (#1008)
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Added uuid validation for Filter
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
Owners: @oxisto, @anatheka, @lebogg

Removed unnecessary input check
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg
