Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

client -> clients
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Tests are still a mess
  service/discovery/aws/aws.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
Owners: @anatheka

fix
  service/discovery/azure/compute_test.go
Owners: @anatheka

Fixes #825
  service/discovery/aws/aws.go
  service/discovery/aws/compute.go
Owners: @anatheka

Added documentation to discovery events
  service/discovery/aws/compute.go
  service/discovery/discovery.go
Owners: @anatheka

Improved AWS and Azure discoverer
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
Owners: @anatheka

More test optimization
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Add labels for K8S resources
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
Owners: @anatheka

Reducing AWS error handling boiler-plate
  service/discovery/aws/aws.go
  service/discovery/aws/compute.go
  service/discovery/aws/storage.go
Owners: @anatheka

Improved AWS and Azure discoverer (#820)
  service/discovery/aws/aws.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
Owners: @anatheka

migrating assesment result functions to seperate go files
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Adding access types
  service/authorization.go
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Added first permission test
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

less boilerplate in access checking
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

starting with authorization of assessment results
  service/authorization.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

more testing
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed cloud service list
  service/authorization.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Added authz for ListCloudServices
  service/authorization.go
  service/orchestrator/cloud_service.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Basic concept for multi-tenancy
  api/orchestrator/orchestrator.go
  service/orchestrator/authorization.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Added authz to metric configuration requests
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Fixed authorization error and added more tests
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
Owners: @oxisto, @anatheka, @lebogg

Added suggestions from code review
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Underscore unused variables
  service/authz.go
Owners: @oxisto, @anatheka, @lebogg

Basic concept for authorization (#824)
  api/orchestrator/orchestrator.go
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Removing hard-coded test token
  internal/testutil/auth.go
Owners: @oxisto, @anatheka, @lebogg

Removing hard-coded test token (#834)
  internal/testutil/auth.go
Owners: @oxisto, @anatheka, @lebogg

Applying suggestions from deepsource.io review
  api/assessment/metric.go
  api/streams_test.go
  cli/commands/login/login_test.go
  internal/auth/key_loader_test.go
  internal/testutil/clitest/cli.go
  persistence/gorm/gorm.go
  policies/policies_test.go
  rest/rest_test.go
  service/assessment/assessment.go
  service/authz.go
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/orchestrator/catalogs.go
  service/orchestrator/metrics.go
  service/orchestrator/toe.go
  voc/abac.go
  voc/access_restriction.go
  voc/at_rest_encryption.go
  voc/certificate_based_authentication.go
  voc/customer_key_encryption.go
  voc/managed_key_encryption.go
  voc/no_authentication.go
  voc/otp_based_authentication.go
  voc/password_based_authentication.go
  voc/rbac.go
  voc/single_sign_on.go
  voc/token_based_authentication.go
  voc/voc.go
Owners: @oxisto, @anatheka, @lebogg

Fixed more issues
  api/pagination.go
  cli/commands/login/login.go
  cli/commands/metric/metric_test.go
  cmd/engine/engine.go
  persistence/gorm/gorm_test.go
  policies/policies.go
  rest/rest.go
  service/assessment/benchmark_test.go
  service/authz.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure.go
  service/orchestrator/toe.go
  voc/related.go
Owners: @oxisto, @anatheka, @lebogg

Fixed even more issues
  service/assessment/assessment.go
  service/discovery/azure/network.go
Owners: @oxisto, @anatheka, @lebogg

Update catalog descriptions
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

++
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Owners: @lebogg, @oxisto, @anatheka

Update orchestrator.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Update orchestrator.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Fix first files
  policies/rego_test.go
  service/assessment/assessment_test.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  voc/related_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix httpEndpoint
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix more
  policies/rego_test.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  voc/compute.go
  voc/related.go
  voc/related_test.go
  voc/virtual_machine.go
Owners: @oxisto, @anatheka, @lebogg

Fix tests
  service/discovery/azure/storage.go
Owners: @anatheka

Fix tests
  service/discovery/azure/storage.go
Owners: @anatheka

Update description
  service/discovery/aws/storage.go
  voc/account.go
  voc/anomaly_detection.go
  voc/application.go
  voc/automatic_updates.go
  voc/database_service.go
  voc/database_storage.go
  voc/http_endpoint.go
  voc/load_balancer.go
  voc/log_operation.go
  voc/logging_service.go
  voc/malware_protection.go
  voc/network_service.go
  voc/object_storage_service.go
  voc/proxied_endpoint.go
  voc/storage_service.go
  voc/transport_encryption.go
  voc/web_application_firewall.go
Owners: @anatheka, @oxisto, @lebogg

Update
  voc/account.go
  voc/anomaly_detection.go
  voc/application.go
  voc/automatic_updates.go
  voc/database_service.go
  voc/database_storage.go
  voc/http_endpoint.go
  voc/load_balancer.go
  voc/log_operation.go
  voc/logging_service.go
  voc/malware_protection.go
  voc/network_service.go
  voc/object_storage_service.go
  voc/proxied_endpoint.go
  voc/storage_service.go
  voc/transport_encryption.go
  voc/web_application_firewall.go
Owners: @oxisto, @anatheka, @lebogg
