Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Add test for toe hooks
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add toe validation
  api/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Add evaluation ...
  api/evaluation/evaluation.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  cmd/engine/engine.go
  go.mod
  go.sum
  openapi/evaluation/openapi.yaml
  openapi/orchestrator/openapi.yaml
  proto.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/grpc.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/demo_catalogs.json
  service/orchestrator/eucs_catalogs.json
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Add test proto message
  internal/testutil/prototest/prototest.pb.go
  internal/testutil/prototest/prototest.proto
  proto.go
Owners: @oxisto, @anatheka, @lebogg

Fix errors
  internal/testutil/prototest/prototest.pb.go
  service/evaluation/evaluation.go
  service/orchestrator/eucs_catalogs.json
Owners: @oxisto, @anatheka, @lebogg

Add some tests
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing files
  api/evaluation/evaluation_test.go
  internal/defaults/defaults.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add toe validate method
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  api/orchestrator/orchestrator.go
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add status to toe hook
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

generate
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Add missing status
  api/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Add toe status
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Update comment
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
Owners: @oxisto, @anatheka, @lebogg

Update toe.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Move log message
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Update orchestrator.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Add log message if cloud service already exist
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Add info message to CreateDefaultTargetCloudService (#859)
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Move misleading log message (#858)
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Fixed problem with applying CORS configuration
  cmd/engine/engine.go
  rest/rest.go
Owners: @oxisto, @anatheka, @lebogg

Fixed problem with applying CORS configuration (#862)
  cmd/engine/engine.go
  rest/rest.go
Owners: @oxisto, @anatheka, @lebogg

Added version number to Docker images
  .github/workflows/release.yml
Owners: @oxisto

Added version number to Docker images
  .github/workflows/release.yml
Owners: @oxisto

Added version number to Docker images (#863)
  .github/workflows/release.yml
Owners: @oxisto

Hotfix: Added missing GHCR.io docker image name
  .github/workflows/release.yml
Owners: @oxisto

Hotfix: Added missing GHCR.io docker image name (#864)
  .github/workflows/release.yml
Owners: @oxisto

Bumped github.com/oxisto/oauth2go to v0.5.13
  go.mod
  go.sum
Owners: @oxisto, @anatheka, @lebogg

++
  api/evaluation/evaluation.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_test.go
  cmd/engine/engine.go
  internal/defaults/defaults.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

fixed test
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Renaming Evaluation -> StartEvaluation
  api/evaluation/evaluation.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  api/evaluation/evaluation_test.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add StopEvaluation
  api/evaluation/evaluation.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  api/evaluation/evaluation_test.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add evaluation
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Fix errors
  api/evaluation/evaluation_test.go
  internal/defaults/defaults.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor mapping of metric and assessment results
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add ListEvaluationResults
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  internal/defaults/defaults.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
