Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Scoping azure list discovery to resource group (#950)
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Owners: @anatheka

first try
  .github/workflows/build.yml
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
  cmd/engine/engine.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

Refactor
  service/orchestrator/metadata.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

++
  .github/workflows/build.yml
Owners: @oxisto

first running solution
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  cmd/engine/engine.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Clean up
  .github/workflows/build.yml
  .gitignore
  cmd/engine/engine.go
  service/orchestrator/get_version.sh
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Update service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Added buf to Dockerfile
  Dockerfile
Owners: @oxisto, @anatheka, @lebogg

Add assurance level to catalog
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Renaming Metadata to Runtime
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Update Runtime message
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Update
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Fix Dockerfile
  .dockerignore
  Dockerfile
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed linting errors
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixing dockerfile
  Dockerfile
Owners: @oxisto, @anatheka, @lebogg

++
  Dockerfile
  cmd/engine/engine.go
  version.go
Owners: @oxisto, @anatheka, @lebogg

++
  api/orchestrator/orchestrator.proto
  service/orchestrator/orchestrator.go
Owners: @lebogg, @oxisto, @anatheka

++
  Dockerfile
  cmd/engine/engine.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  version.go
Owners: @oxisto, @anatheka, @lebogg

Update assurance levels
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  cmd/engine/engine.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Update tests
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/catalogs.json
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix more tests
  cmd/engine/engine.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor runtime info
  .vscode/launch.json
  .vscode/tasks.json
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/runtime/runtime.go
  api/runtime/runtime.pb.go
  api/runtime/runtime.pb.validate.go
  api/runtime/runtime.proto
  cmd/engine/engine.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/runtime.go
Owners: @oxisto, @anatheka, @lebogg

Added some more tests
  .github/workflows/build.yml
  Dockerfile
  api/runtime/runtime_test.go
  service/orchestrator/orchestrator_test.go
  service/runtime.go
Owners: @oxisto, @anatheka, @lebogg

Added one more test
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix catalog file
  .gitignore
  service/orchestrator/eucs_catalogs.json
Owners: @oxisto, @anatheka, @lebogg

Apply suggestions from code review
  api/runtime/runtime.go
  service/runtime.go
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
