Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Add postgresql server discovery
  api/orchestrator/orchestrator.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
Owners: @oxisto, @anatheka, @lebogg

Update review comments
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

Add first DB stuff
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
  voc/database_service.go
Owners: @oxisto, @anatheka, @lebogg

Extend discovery based on Medina issues (#1144)
  api/orchestrator/orchestrator.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  voc/virtual_machine.go
Owners: @oxisto, @anatheka, @lebogg

clean up
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
Owners: @anatheka

Update go.mod
  go.mod
  go.sum
  service/discovery/azure/azure.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

clean up
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
Owners: @anatheka

Add statistics endpoint
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Delete .github/ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @oxisto

Add metadata to cloud service
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  catalogs/demo_catalog.json
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Stopping gRPC server when hitting ctrl+c
  api/streams.go
  cmd/engine/engine.go
  service/assessment/assessment.go
  service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

Stopping gRPC server when hitting ctrl+c (#1151)
  api/streams.go
  cmd/engine/engine.go
  service/assessment/assessment.go
  service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

Fix tests
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Add test
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Update test
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Add statistics endpoint (#1149)
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Make cloud_service timestamps optional
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Delete assurance_level length validation
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
Owners: @oxisto, @anatheka, @lebogg

Update demo catalog
  catalogs/demo_catalog.json
Owners: @oxisto, @anatheka, @lebogg

Add data at rest metrics to demo catalog
  catalogs/demo_catalog.json
Owners: @oxisto, @anatheka, @lebogg

36 default controls in demo catalog
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Made tests independent from actual catalog data
  catalogs/.gitignore
  internal/testdata/catalogs/test_catalog.json
  internal/testdata/empty_catalogs/.gitkeep
  internal/util/filesystem_test.go
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Catalog cleanup
  catalogs/demo_catalog.json
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed tests
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add metadata to cloud service
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Overhaul of evalation results
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/testutil/servicetest/evaluationtest/evaluation.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Proper aggregation of pending results
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  internal/testutil/servicetest/evaluationtest/evaluation.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Update l3Firwall rego files
  policies/bundles/L3FirewallEnabled/metric.rego
  policies/bundles/L3FirewallRestrictedPorts/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Fix nsgFirewallEnabled method
  service/discovery/azure/azure.go
  service/discovery/azure/network.go
Owners: @anatheka

Fix tests
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Owners: @anatheka

Add test
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Owners: @anatheka

more tests
  service/discovery/azure/network_test.go
Owners: @anatheka

Add metadata to cloud service/catalog (#1148)
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  catalogs/.gitignore
  catalogs/demo_catalog.json
  internal/testdata/catalogs/test_catalog.json
  internal/testdata/empty_catalogs/.gitkeep
  internal/util/filesystem_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

Overhaul of evalation results (#1152)
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/orchestrator/orchestrator.proto
  internal/testutil/servicetest/evaluationtest/evaluation.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Update service/discovery/azure/network.go
  service/discovery/azure/network.go
Owners: @anatheka

Update service/discovery/azure/network.go
  service/discovery/azure/network.go
Owners: @anatheka

++
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Owners: @anatheka

Update metrics osLogging and bootLogging
  policies/bundles/BootLoggingOutput/data.json
  policies/bundles/BootLoggingOutput/metric.rego
  policies/bundles/OSLoggingOutput/data.json
  policies/bundles/OSLoggingOutput/metric.rego
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
