Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

++
  internal/testcatalogs/emptyTestFolder/.gitkeep
Owners: @oxisto, @anatheka, @lebogg

Update comment (#986)
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Another fix
  internal/testdata/testdata.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

++
  internal/testdata/testdata.go
Owners: @oxisto, @anatheka, @lebogg

Expand latest_by_resource_id to include one per metric
  api/assessment/assessment.proto
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @lebogg, @oxisto, @anatheka

Expand latest_by_resource_id to include one per metric (#990)
  api/assessment/assessment.proto
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @lebogg, @oxisto, @anatheka

Fix filepath
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix review comments
  service/orchestrator/README.md
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Update service/orchestrator/metrics.json
  service/orchestrator/metrics.json
Owners: @oxisto, @anatheka, @lebogg

Refactor
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Delete certificate timestamp for test
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix tests
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add DB
  api/assessment/assessment.pb.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.proto
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Fix DB
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.proto
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add parent controls to controls_in_scope at ToE creation (#988)
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Update service/orchestrator/catalogs.go
  service/orchestrator/catalogs.go
Owners: @oxisto, @anatheka, @lebogg

Add filter for sub-controls
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  openapi/evaluation/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Add filter for sub-controls and some fixes
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Fix
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
Owners: @oxisto, @anatheka, @lebogg

Removed `ListAssessmentResults` from assessment (#979)
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/assessment_test.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/assessment/assessment.go
  cli/commands/service/assessment/assessment_test.go
  cli/commands/service/orchestrator/orchestrator.go
  cli/commands/service/orchestrator/orchestrator_test.go
  openapi/assessment/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/paginate_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor List filter Refactor evaluation
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Refactor method evaluateSubcontrol
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

clean up
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Fix and add some tests
  internal/testdata/testdata.go
  internal/testutil/evaluationtest/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Update tests
  internal/testdata/testdata.go
  internal/testutil/evaluationtest/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

generate
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Fix merge errors
  service/evaluation/evaluation.go
  service/orchestrator/toe.go
Owners: @oxisto, @anatheka, @lebogg

More tests
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Change comment
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Change comment of Orchestrators `ListAssessmentResults` (#998)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

++
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Try to fix deepSource error
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Add todo
  api/evidence/evidence_store.proto
Owners: @lebogg

Fix deepSource errors
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add test
  internal/testutil/orchestratortest/orchestrator.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add example annotation and test (unsuccessful)
  policies/bundles/AutomaticUpdatesEnabled/metric.rego
  policies/rego.go
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix lint error
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Created filter for cloud_service_id and tool_id.
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Created filter for cloud_service_id and tool_id. Applied filter in function ListEvidences
  service/evidence/evidence_store.go
Owners: @oxisto, @anatheka, @lebogg

Fixed GRPC installation issues
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/evidence/evidence.pb.go
  api/orchestrator/orchestrator.pb.go
  openapi/evidence/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
