Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Quick fix for update metric implementation
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  internal/constants/constants.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/compute.go
Owners: @oxisto, @anatheka, @lebogg

Update gorm Save()
  persistence/gorm/gorm.go
  service/orchestrator/metrics.go
Owners: @lebogg, @oxisto, @anatheka

Add comment
  persistence/gorm/gorm.go
Owners: @lebogg

Update gorm Save()
  persistence/gorm/gorm.go
Owners: @lebogg

++
  service/orchestrator/metrics.go
Owners: @oxisto, @anatheka, @lebogg

++
  persistence/gorm/gorm.go
Owners: @lebogg

Add new compare for isIn
  policies/operators.rego
Owners: @oxisto, @anatheka, @lebogg

Add resource type check to metrics
  policies/bundles/L3FirewallEnabled/metric.rego
  policies/bundles/WebApplicationFirewallEnabled/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Update backup property in storage
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Update storage_test.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Update backup property in storage (#1177)
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Update metric.rego
  policies/bundles/WebApplicationFirewallEnabled/metric.rego
Owners: @oxisto, @anatheka, @lebogg

move type check to applicable
  policies/bundles/L3FirewallEnabled/metric.rego
  policies/bundles/WebApplicationFirewallEnabled/metric.rego
Owners: @oxisto, @anatheka, @lebogg

Add missing backup for blockStorage
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
Owners: @anatheka

Add test and fix deepSource error
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
Owners: @anatheka

Extend backup property
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Add first iteration of "AutomaticUpdates"
  go.mod
  go.sum
  service/discovery/aws/compute.go
Owners: @oxisto, @anatheka, @lebogg

Group dependabot updates
  .github/dependabot.yml
Owners: @oxisto

Group dependabot updates (#1184)
  .github/dependabot.yml
Owners: @oxisto

Update dependabot.yml
  .github/dependabot.yml
Owners: @oxisto

Upgraded to Go 1.21
  .github/workflows/build.yml
  go.mod
  go.sum
  internal/testutil/servicetest/authz.go
  internal/testutil/streams.go
  service/authorization.go
  service/evidence/evidence_store.go
  service/orchestrator/assessment_results.go
  service/orchestrator/certificates.go
  service/paginate.go
  service/paginate_test.go
Owners: @oxisto, @anatheka, @lebogg

Removed Deep Source
  .deepsource.toml
Owners: @oxisto, @anatheka, @lebogg

Upgraded to Go 1.21 (#1183)
  .deepsource.toml
  .github/workflows/build.yml
  go.mod
  go.sum
  internal/testutil/servicetest/authz.go
  internal/testutil/streams.go
  service/authorization.go
  service/evidence/evidence_store.go
  service/orchestrator/assessment_results.go
  service/orchestrator/certificates.go
  service/paginate.go
  service/paginate_test.go
Owners: @oxisto, @anatheka, @lebogg

Update dependabot.yml
  .github/dependabot.yml
Owners: @oxisto

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
