Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Upgraded JWT library to `v5` (#1084)
  go.mod
  go.sum
  internal/auth/key_loader.go
  server/auth_middleware.go
  service/authorization.go
  service/authorization_test.go
Owners: @oxisto, @anatheka, @lebogg

Fixed test
  persistence/gorm/gorm_test.go
Owners: @lebogg

Fix backupPolicies mock
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Fix more tests
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Fix test discoverVMs panic
  service/discovery/azure/compute_test.go
Owners: @anatheka

clean up
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
Owners: @anatheka

Add azure defender mock
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

++
  service/discovery/azure/storage.go
  voc/backup.go
Owners: @anatheka, @oxisto, @lebogg

++
  go.mod
  go.sum
Owners: @oxisto, @anatheka, @lebogg

Adding gRPC opts to `StartGRPCServer`
  server/auth_middleware.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Update server/grpc.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Adding gRPC opts to `StartGRPCServer` (#1088)
  server/auth_middleware.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Using the environment variable, adapted initialization of the Identity client
  service/discovery/azure/azure.go
  service/discovery/azure/identity.go
Owners: @anatheka

Add VM automaticUpdates discovery
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

update AutomaticUpdatesInterval
  policies/bundles/AutomaticUpdatesInterval/data.json
  policies/bundles/AutomaticUpdatesInterval/metric.rego
Owners: @oxisto, @anatheka, @lebogg

update
  policies/bundles/AutomaticUpdatesInterval/data.json
  policies/bundles/AutomaticUpdatesInterval/metric.rego
  policies/rego_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @oxisto, @anatheka, @lebogg

Add transportEncryption to Backup
  internal/constants/constants.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
Owners: @oxisto, @anatheka, @lebogg

Add apllicationGateway (web application firewall) discovery
  service/discovery/azure/azure.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/k8s/network.go
  voc/l3_firewall.go
  voc/load_balancer.go
  voc/voc.go
  voc/web_application_firewall.go
Owners: @anatheka, @oxisto, @lebogg

Add missing firewall file
  voc/firewall.go
Owners: @oxisto, @anatheka, @lebogg

Add auth + tests to `ListCertificates`
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add L3 firewall property based on the Azure NSG
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  voc/network_interface.go
Owners: @anatheka, @oxisto, @lebogg

Update Readme
  service/discovery/README.md
Owners: @anatheka

Add test file
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/identity.go
Owners: @oxisto, @anatheka, @lebogg

add missing file
  service/discovery/azure/azure.go
  service/discovery/azure/identity.go
  service/discovery/azure/identity_test.go
Owners: @anatheka

++
  service/discovery/azure/azure.go
  service/discovery/azure/identity.go
Owners: @anatheka

Fixed panicy test
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Rm old approach for `ListCertificates`
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

Addressed review comments
  api/connection.go
  service/assessment/assessment_test.go
  service/discovery/discovery_test.go
Owners: @oxisto, @anatheka, @lebogg

RPC Connection Type
  api/authorizer.go
  api/connection.go
  cli/session.go
  cmd/engine/engine_test.go
  server/auth_middleware_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/bufconn_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/service.go
Owners: @oxisto, @anatheka, @lebogg

Added evaluation service
  service/evaluation/bufconn_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Log message
  service/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

New `RPCConnection` type to bundle all gRPC connection related information (#1055)
  api/authorizer.go
  api/connection.go
  cli/session.go
  cmd/engine/engine_test.go
  server/auth_middleware_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/bufconn_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evaluation/bufconn_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/service.go
Owners: @oxisto, @anatheka, @lebogg

Refactor `Test_CreateCertificate`
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor tests after merge
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor `Test_CreateCertificate`
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

RM out-commented code
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Add and refactor tests for `GetCertificate`
  internal/testdata/testdata.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

RM commented-out code
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor `Test_ListCertificates`
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Add AUTH check and tests to `UpdateCertificate`
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
