Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg

Using v1.57-dev for now
  go.mod
  go.sum
  server/grpc.go
  server/grpc_test.go
Owners: @oxisto, @anatheka, @lebogg

Enable Merge Queue
  .github/workflows/build.yml
Owners: @oxisto

exclude listPublicCertificates endpoint from authentication
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Upddate reflection v1alpha1 to v1 and exclude listPublicCertificates from stream
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

Fix test
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix errors
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Owners: @oxisto, @anatheka, @lebogg

Add auth check to RemoveCertificate()
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

fix deepSource
  service/evidence/evidence_store_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix merge
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  persistence/gorm/gorm.go
Owners: @lebogg

Add missing information in metrics list (metrics.json) (#983)
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  catalogs/demo_catalog.json
  policies/bundles/TLSVersion/data.json
  policies/bundles/TLSVersion/metric.rego
  policies/bundles/TransportEncryptionAlgorithm/data.json
  policies/bundles/TransportEncryptionProtocol/data.json
  policies/bundles/TransportEncryptionProtocol/input.json
  policies/bundles/TransportEncryptionProtocol/metric.rego
  policies/policies_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix merge
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Ignore deepsource gorm issue
  persistence/gorm/gorm.go
Owners: @lebogg

Fix typo
  persistence/gorm/gorm.go
Owners: @lebogg

Add ListPublicCertificates (#1133)
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  server/grpc.go
  service/evidence/evidence_store_test.go
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix comment
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

Refactor comment
  persistence/gorm/gorm.go
Owners: @lebogg

Add extra filter for excluding public endpoints
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cmd/engine/engine.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

++
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

++
  cmd/engine/engine.go
Owners: @oxisto, @anatheka, @lebogg

Update grpc.go
  server/grpc.go
Owners: @oxisto, @anatheka, @lebogg

MV cloud service check up (`GetCertificate`)
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

Revert "MV cloud service check up (`GetCertificate`)"
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

Add color property to catalog
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Add tag list for cloud service.
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
Owners: @oxisto, @anatheka, @lebogg

Add Catalogs short name
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

++
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix tags map
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Update orchestrator.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Extensions for Clouditor UI (#1138)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Owners: @oxisto, @anatheka, @lebogg

Update demo_catalog.json
  catalogs/demo_catalog.json
Owners: @oxisto, @anatheka, @lebogg

Fixed error in demo catalog
  catalogs/demo_catalog.json
Owners: @oxisto, @anatheka, @lebogg

Fix function discovery
  api/orchestrator/orchestrator.pb.go
  openapi/orchestrator/openapi.yaml
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @oxisto, @anatheka, @lebogg

Update function runtime/version discovery
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
Owners: @anatheka

Fix tests
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

Fix Azure OsLoggingEnabled field
  go.mod
  go.sum
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  voc/virtual_machine.go
Owners: @oxisto, @anatheka, @lebogg

Update ActivityLogging property
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

Fix tests
  service/discovery/azure/compute_test.go
Owners: @anatheka

Add `PermissionDenied` to `RemoveCertificate`
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
Owners: @oxisto, @anatheka, @lebogg

Merge main into this branch
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg
