Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Added additional dial options option for REST server
  server/rest/rest.go
Owners: @oxisto, @anatheka, @lebogg

Splitting `server` and `service` code (#1052)
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/cloud/cloud_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/login/login_test.go
  cli/commands/metric/metric_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/commands/tool/tool_test.go
  cli/session_test.go
  clouditor.code-workspace
  cmd/engine/engine.go
  cmd/engine/engine_test.go
  internal/testutil/clitest/cli.go
  server/auth_middleware.go
  server/auth_middleware_test.go
  server/grpc.go
  server/grpc_test.go
  server/rest/rest.go
  server/rest/rest_test.go
  service/assessment/bufconn_test.go
  service/authorization.go
  service/authorization_test.go
  service/service.go
Owners: @oxisto, @anatheka, @lebogg

Upate discovery for defender
  service/discovery/azure/azure.go
  service/discovery/azure/defender.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  voc/compute.go
  voc/resource_logging.go
  voc/storage.go
Owners: @anatheka, @oxisto, @lebogg

Upate discovery for defender for virtual machines
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
Owners: @anatheka

Fix
  go.mod
  go.sum
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

clean up
  service/discovery/discovery.go
  voc/account.go
Owners: @anatheka, @oxisto, @lebogg

Add tests
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Update Readme
  service/discovery/README.md
Owners: @anatheka

Update Readme backup solutions
  service/discovery/README.md
Owners: @anatheka

Add backup discovery for object storages
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/backup.go
  voc/storage.go
Owners: @oxisto, @anatheka, @lebogg

Update Readme
  service/discovery/README.md
  voc/compute.go
Owners: @anatheka, @oxisto, @lebogg

Fix error
  service/discovery/azure/storage.go
Owners: @anatheka

clean up
  service/discovery/azure/storage.go
Owners: @anatheka

Move Backup Discovery to azure.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

Add comment
  service/discovery/azure/azure.go
Owners: @anatheka

Addressed code review comments
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

more cleanup
  internal/testdata/testdata.go
  internal/testutil/prototest/prototest.pb.go
  internal/testutil/prototest/prototest.pb.validate.go
  internal/testutil/prototest/prototest.proto
  internal/util/struct.go
  internal/util/struct_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

code reviews++
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
Owners: @oxisto, @anatheka, @lebogg

++
  clouditor.code-workspace
  internal/testutil/servicetest/evaluationtest/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Add evaluation service (#853)
  .gitignore
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  clouditor.code-workspace
  cmd/engine/engine.go
  go.sum
  internal/testdata/testdata.go
  internal/testutil/prototest/prototest.pb.go
  internal/testutil/prototest/prototest.pb.validate.go
  internal/testutil/prototest/prototest.proto
  internal/testutil/servicetest/evaluationtest/evaluation.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  internal/util/struct.go
  internal/util/struct_test.go
  openapi/evaluation/openapi.yaml
  persistence/gorm/gorm.go
  proto.go
  server/grpc.go
  server/rest/rest.go
  service/evaluation/bufconn_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/demo_catalogs.json
  service/orchestrator/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Owners: @anatheka

++
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
Owners: @anatheka

Added Identity discovery to list all users
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/identity.go
  service/discovery/discovery.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
  service/discovery/discovery.go
Owners: @anatheka

Refactor
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
Owners: @anatheka

++
  service/discovery/README.md
Owners: @anatheka

Added authorization to AssessEvidence endpoint
  api/assessment/assessment.go
  internal/logging/logging_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Delete handleBackupVault() and fix tests
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
Owners: @anatheka

++
  service/discovery/azure/storage_test.go
Owners: @anatheka

Added test case and correct context
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Add authorization to AssessEvidence endpoint (#1076)
  api/assessment/assessment.go
  internal/logging/logging_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Add backup atRestEncryption
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
  voc/backup.go
Owners: @anatheka, @oxisto, @lebogg

Move certificate logic to separate file
  service/orchestrator/certificates.go
  service/orchestrator/orchestrator.go
Owners: @oxisto, @anatheka, @lebogg

Add check to `CreateCertificate`
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

Add check to `GetCertificate`
  service/orchestrator/certificates.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/discovery/azure/azure.go
Owners: @anatheka

Add backup retention period
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/storage.go
  voc/backup.go
Owners: @anatheka, @oxisto, @lebogg

Add function runtime infos
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Owners: @anatheka

Experimental PR with golang-jwt v5
  go.mod
  go.sum
  internal/auth/key_loader.go
  internal/testutil/auth.go
  server/auth_middleware.go
  service/authorization.go
  service/authorization_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  go.mod
  go.sum
  internal/testutil/auth.go
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
