Repository clouditor/clouditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oxisto, @anatheka, @lebogg

Remove fixed line in Dockerfile (#876)
  Dockerfile
Owners: @oxisto, @anatheka, @lebogg

Update assessment_results_test.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Update orchestrator.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Update orchestrator.proto
  api/orchestrator/orchestrator.proto
Owners: @lebogg

Update protofiles
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Owners: @oxisto, @anatheka, @lebogg

Update description for GetControl() (#872)
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Owners: @lebogg, @oxisto, @anatheka

remove additional_bindings
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  internal/util/deref.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Add filter for metric id
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Add tests
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Fix test error
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Add some tests
  internal/util/deref_test.go
Owners: @oxisto, @anatheka, @lebogg

Add some tests
  internal/util/deref_test.go
Owners: @oxisto, @anatheka, @lebogg

Revert "Merge branch 'add_filter_listAssessmentResults' of github.com:clouditor/clouditor into add_filter_listAssessmentResults"
  .devcontainer/devcontainer.json
  Dockerfile-Clouditor
  authz_readme.md
Owners: @oxisto, @anatheka, @lebogg

Add tests to StopEvaluation
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Remove Shutdown()
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Fix import cycles
  internal/testutil/prototest/prototest.pb.go
  internal/testutil/prototest/prototest.proto
  proto.go
Owners: @oxisto, @anatheka, @lebogg

Add request Validate method and tests
  api/assessment/assessment.go
  api/assessment/assessment_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Add missing test
  api/assessment/assessment_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor filteredCloudServiceId
  service/orchestrator/assessment_results.go
Owners: @oxisto, @anatheka, @lebogg

Clean up
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Outsource evaluation for lower control level from StartEvaluation
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Extend filter metricID to list of metricIDs
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

Refactor the scheduling part
  api/evaluation/evaluation.go
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_test.go
  internal/defaults/defaults.go
  openapi/evaluation/openapi.yaml
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Refactor control level decision
  service/evaluation/evaluation.go
Owners: @oxisto, @anatheka, @lebogg

Output tests in GH Action Markdown
  .github/workflows/build.yml
Owners: @oxisto

Removed -all for less verbose
  .github/workflows/build.yml
Owners: @oxisto

Updated GH actions steps§
  .github/workflows/build.yml
Owners: @oxisto

Output tests in GH Action Markdown (#887)
  .github/workflows/build.yml
Owners: @oxisto

Switching to `buf` for protobuf generation
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  buf.gen.yaml
  buf.lock
  buf.tag.gen.yaml
  buf.yaml
  proto.go
  third_party/google/api/LICENSE
  third_party/google/api/annotations.proto
  third_party/google/api/http.proto
  third_party/google/protobuf/LICENSE
  third_party/google/protobuf/descriptor.proto
  third_party/google/protobuf/empty.proto
  third_party/google/protobuf/struct.proto
  third_party/google/protobuf/timestamp.proto
  third_party/tagger/LICENSE
  third_party/tagger/tagger.proto
Owners: @oxisto, @anatheka, @lebogg

Fixed GH action
  .github/workflows/build.yml
  buf.gen.yaml
  buf.gotag.gen.yaml
  buf.openapi.gen.yaml
  openapi/orchestrator/openapi.yaml
  proto.go
  tools.go
Owners: @oxisto, @anatheka, @lebogg

Fix
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/orchestrator/orchestrator.pb.go
  proto.go
Owners: @oxisto, @anatheka, @lebogg

Split into protobuf packages
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/auth/auth.pb.go
  api/auth/auth.proto
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
Owners: @oxisto, @anatheka, @lebogg

More fixes
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  api/page_token.proto
Owners: @oxisto, @anatheka, @lebogg

++
  api/auth/auth.pb.go
  api/auth/auth.proto
Owners: @oxisto, @anatheka, @lebogg

Update tests
  api/evaluation/evaluation.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

Update api/assessment/assessment.go
  api/assessment/assessment.go
Owners: @oxisto, @anatheka, @lebogg

Update api/assessment/assessment.proto
  api/assessment/assessment.proto
Owners: @lebogg

Add review comments
  api/assessment/assessment.go
  api/assessment/assessment.proto
  api/assessment/assessment_test.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/assessment_results_test.go
Owners: @oxisto, @anatheka, @lebogg

++
  service/evaluation/evaluation_test.go
Owners: @oxisto, @anatheka, @lebogg

.github/CODEOWNERS:

*     @oxisto @anatheka @lebogg

.github @oxisto
service/discovery @anatheka
persistence @lebogg
**/*.proto @lebogg
