Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

Upgrade gopkg.in/yaml.v3 to v3.0.0 (#717)
  go.mod
  go.sum
Labels: none

Implementing a GORM serializer for `timestamppb.Timestamp` (#710)
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/metric.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/orchestrator/orchestrator.pb.go
  go.mod
  go.sum
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/persistence.go
  proto.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
Labels: persistence, api, service/discovery, service

Fix loginfo
  service/assessment/assessment.go
Labels: service/assessment

Fix loginfo (#721)
  service/assessment/assessment.go
Labels: service/assessment

Add ordering
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/persistence.go
Labels: persistence

Add fields to 'ListX' messages
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  internal/testutil/storage.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements.go
  service/paginate.go
  service/paginate_test.go
Labels: api, service/orchestrator, service, internal

Add first validation func
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
  persistence/persistence.go
  service/orchestrator/orchestrator.go
Labels: persistence, api, service/orchestrator

Add empty string
  api/orchestrator/orchestrator.go
Labels: api

Mv 'GetFieldNames' to internal
  api/orchestrator/orchestrator.go
  internal/util/struct.go
  internal/util/struct_test.go
Labels: api, internal

Remove unexported fields from tests
  api/orchestrator/orchestrator_test.go
Labels: api

Fix linter issue
  internal/util/struct_test.go
Labels: internal

Fix linter issue
  internal/util/struct_test.go
Labels: internal

Fix linter issue
  internal/util/struct_test.go
Labels: internal

Fix linter issue
  internal/util/struct_test.go
Labels: internal

Add test
  api/orchestrator/orchestrator_test.go
  internal/util/struct_test.go
Labels: api, internal

Validate 'ListCloudServices' REQ
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator

Validate 'ListMetrics' REQ
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Labels: api, service/orchestrator

Add comment
  service/paginate.go
Labels: service

Use one generic validate func for ListXXX RPCs
  api/authorizer_test.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
  api/request.go
  api/streams_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/requirements.go
Labels: api, service/orchestrator

Remove fmt usages
  api/orchestrator/orchestrator_test.go
  api/request.go
Labels: api

Fix tests
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
Labels: service/orchestrator

Add header
  api/request.go
Labels: api

Add handleVolume
  service/discovery/k8s/compute.go
Labels: service

Distinguish between volume types
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  service/discovery/k8s/compute.go
Labels: api, service

Add comment
  service/discovery/k8s/compute.go
Labels: service

Add empty if branch
  service/discovery/k8s/compute.go
Labels: service

Add volume test
  service/discovery/k8s/compute_test.go
Labels: service

Add more volume types
  service/discovery/k8s/compute.go
Labels: service

Update test
  service/discovery/k8s/compute_test.go
Labels: service

++
  service/discovery/k8s/compute.go
Labels: service

More volume types
  service/discovery/k8s/compute.go
Labels: service

Update comment
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
Labels: service

Use "golang.org/x/exp/slices"
  api/request.go
Labels: api

Use type constraint for whitelist
  api/orchestrator/orchestrator_test.go
  api/request.go
  internal/util/struct.go
  internal/util/struct_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements.go
Labels: api, service/orchestrator, internal

Add comments
  api/request.go
  internal/util/struct.go
Labels: api, internal

Add license
  internal/util/struct.go
  internal/util/struct_test.go
Labels: internal

Fix linter issues
  internal/util/struct_test.go
Labels: internal

Add persistentVolume discovery
  service/discovery/discovery.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
Labels: service/discovery, service

Use `ProtoReflect()`
  api/orchestrator/orchestrator_test.go
  api/request.go
  internal/util/struct.go
  internal/util/struct_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements.go
Labels: api, service/orchestrator, internal

Add tests
  internal/util/struct_test.go
Labels: internal

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*
