Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, internal, voc, csaf

Create proto file
  api/user/user.proto
Labels: api

Gorm: Add User to default types
  api/orchestrator/orchestrator.proto
  persistence/gorm/gorm.go
Labels: persistence, api

Buf: Add User folder to gotag
  buf.gotag.gen.yaml
Labels: api

Update `go:generate`
  proto.go
Labels: api

Gorm: Set Logger to Silent again
  persistence/gorm/gorm.go
Labels: persistence, api

Buf: Compile user with tags
  api/user/user.pb.go
Labels: api

api,server: converting `resource` of `Evidence` to use resource message
  .vscode/extensions.json
  api/evidence/evidence.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_test.go
  api/ontology/ontology.go
  api/ontology/ontology_test.go
  cli/commands/evidence/evidence_test.go
  internal/testutil/prototest/proto.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/assessment/waiting_request.go
  service/assessment/waiting_request_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store_test.go
Labels: policies, api, service/discovery, service/assessment, internal

Fixed some tests
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/ontology/ontology.go
  cli/commands/evidence/evidence_test.go
  service/evidence/evidence_store_test.go
Labels: api

Fixing more tests
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: api, service/assessment

Fixing more things
  api/evidence/evidence.go
  service/assessment/assessment_test.go
Labels: api, service/assessment

Avoid panic when resource is nil
  api/evidence/evidence.go
  api/evidence/evidence_test.go
Labels: api

Add `User` message to Orchestrator folder
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/discovery/experimental.pb.go
  api/evaluation/evaluation.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/ontology/ontology.pb.go
  api/ontology/service.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/user.pb.go
  api/orchestrator/user.proto
  api/page_token.pb.go
  api/runtime/runtime.pb.go
  buf.gotag.gen.yaml
  internal/input/clouditor_header.pb.go
  proto.go
Labels: api/evaluation, api, internal

Getting rid of GetResourceId()
  api/evidence/evidence.go
  api/evidence/evidence_test.go
  api/ontology/ontology.go
  service/assessment/assessment.go
Labels: api, service/assessment

Moved resource as a parameter to handlEvidence
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/waiting_request.go
Labels: api, service/assessment

Added back nil check
  api/ontology/ontology.go
  service/assessment/assessment.go
Labels: api, service/assessment

Fixed tests maybe
  service/assessment/assessment_test.go
Labels: api, service/assessment

Fix user.proto
  api/orchestrator/user.proto
Labels: api

Remove unused import
  persistence/gorm/gorm.go
Labels: persistence, api

Buf: Generate again
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/user.pb.go
Labels: api

Add doc to MarshalJSON
  .vscode/extensions.json
  api/ontology/ontology.go
Labels: api

Added some corner cases to test
  api/ontology/ontology.go
  api/ontology/ontology_test.go
Labels: api

api,server: using `ontology.Resource` message in `Evidence.resource` (#1676)
  .vscode/extensions.json
  api/evidence/evidence.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_test.go
  api/ontology/ontology.go
  api/ontology/ontology_test.go
  cli/commands/evidence/evidence_test.go
  internal/testutil/prototest/proto.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/assessment/waiting_request.go
  service/assessment/waiting_request_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store_test.go
Labels: policies, api, service/discovery, service/assessment, internal

Add CRUD RPCs
  api/orchestrator/orchestrator.proto
  api/orchestrator/user.pb.go
  api/orchestrator/user.pb.gw.go
  api/orchestrator/user.proto
  api/orchestrator/user_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Labels: api

Update ontology
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/ontology/openapi.yaml
Labels: api, internal

Update Ontology file and update proto file
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/ontology/openapi.yaml
  openapi/orchestrator/openapi.yaml
  proto.go
Labels: api, internal

Fix ontology DataLocation has Storage
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/ontology/openapi.yaml
Labels: api, internal

Add connection Logging to LoggingService to ontology
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/ontology/openapi.yaml
  openapi/orchestrator/openapi.yaml
Labels: api, internal

Change connection NetworkService to hasMultiple ComputeNodes
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/ontology/openapi.yaml
  service/discovery/azure/machine_learning_discovery.go
Labels: api, internal

update ontology.owx
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/ontology/openapi.yaml
Labels: api, internal

Update owl2proto version
  go.mod
  go.sum
Labels: api

Delete Evidence class, otherwise the proto generation is broken
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
Labels: api, internal

Update Ontology (#1681)
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  go.mod
  go.sum
  internal/ontology/ontology.owx
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/ontology/openapi.yaml
  proto.go
  service/discovery/azure/machine_learning_discovery.go
Labels: api, internal

Fix linter errors
  cli/commands/login/login.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_compute.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
  server/auth_middleware_test.go
  server/rest/rest_integration_test.go
  service/discovery/extra/csaf/document_properties.go
Labels: api, internal, csaf

Add error check to fmt.Printf()
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_compute.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_compute_attachinterfaces.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_domain.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_network.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_projects.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
Labels: api, internal

Delete duplicated import
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_compute.go
Labels: api, internal

Fix linter error
  internal/testutil/servicetest/discoverytest/csaf/providertest/indextxt.go
Labels: api, internal

Add err check res.Body.Close
  service/discovery/extra/csaf/keys_discover.go
Labels: api, csaf

Use switch
  internal/testutil/servicetest/discoverytest/csaf/providertest/providertest.go
Labels: api, internal

Remove embedded field from selector
  service/assessment/waiting_request.go
Labels: api, service/assessment

Remove unnecessary declaration
  service/assessment/assessment.go
Labels: api, service/assessment

.github/labeler.yml:

# Add 'cmd/engine' label to any changes in cmd/engine directory
cmd/engine:
- changed-files:
  - any-glob-to-any-file: 'cmd/engine/*'

# Add 'policies' label to any changes in policies directory
policies:
- changed-files:
  - any-glob-to-any-file: 'policies/**/*'

# Add 'persistence' label to any changes in persistence directory
persistence:
- changed-files:
  - any-glob-to-any-file: 'persistence/**/*'

# Add 'api/evaluation' label to any changes in api/evaluation directory
api/evaluation:
- changed-files:
  - any-glob-to-any-file: 'api/evaluation/*'

# Add 'api' label to any changes in api directory, excluding api/evaluation
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - '!api/evaluation/*'

# Add 'service/discovery' label to any changes in service/discovery directory
service/discovery:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/*'

# Add 'service/assessment' label to any changes in service/assessment directory
service/assessment:
- changed-files:
  - any-glob-to-any-file: 'service/assessment/*'

# Add 'service/orchestrator' label to any changes in service/orchestrator directory
service/orchestrator:
- changed-files:
  - any-glob-to-any-file: 'service/orchestrator/*'

# Add 'internal' label to any changes in internal directory
internal:
- changed-files:
  - any-glob-to-any-file: 'internal/**/*'

# Add 'voc' label to any changes in voc directory
voc:
- changed-files:
  - any-glob-to-any-file: 'voc/**/*'

# Add 'service' label to any changes in service directory, excluding certain subdirectories
service:
- all:
  - changed-files:
    - any-glob-to-any-file: 'service/**/*'
    - all-globs-to-all-files: '!service/assessment/*'
    - all-globs-to-all-files: '!service/orchestrator/*'
    - all-globs-to-all-files: '!service/discovery/*'
    - all-globs-to-all-files: '!service/discovery/extra/csaf/*'

# Add 'csaf' label to any changes in service/discovery/extra/csaf directory
csaf:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/extra/csaf/*'
