Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, internal, voc, csaf

Delete raw field from resource
  service/discovery/discovery.go
Labels: api, service/discovery

Delete raw field before storing in DB
  service/discovery/discovery.go
Labels: api, service/discovery

clean up
  service/discovery/discovery.go
Labels: api, service/discovery

clean up
  service/discovery/discovery.go
Labels: api, service/discovery

Add launcher check for storage creation
  launcher/launcher.go
Labels: api

Add service spec function for checking if WithStorageFunction is set
  clouditor.code-workspace
  launcher/launcher.go
  launcher/spec.go
  persistence/gorm/gorm.go
Labels: persistence, api

Fix tests
  launcher/launcher_integration_test.go
  launcher/launcher_test.go
Labels: api

Add machine learning client
  go.mod
  go.sum
  service/discovery/azure/azure.go
Labels: api

Add initMLXClient()
  service/discovery/azure/azure_clients.go
Labels: api

Add ml discovery
  service/discovery/azure/machine_learning_discovery.go
Labels: api

Add ml handle
  service/discovery/azure/machine_learning_handle.go
Labels: api

Add ml properties
  service/discovery/azure/machine_learning_properties.go
Labels: api

Refactor getInternetAccessibleEndpoint -> publicNetworkAccessStatus
  service/discovery/azure/azure_properties.go
  service/discovery/azure/compute_handle.go
  service/discovery/azure/compute_properties.go
Labels: api

Update test Test_getInternetAccessibleEndpoint
  service/discovery/azure/compute_test.go
Labels: api

Add ML workspace discovery
  service/discovery/azure/azure.go
Labels: api

Add ML handle method
  service/discovery/azure/machine_learning_handle.go
  service/discovery/azure/machine_learning_properties.go
Labels: api

Add ml property tests
  service/discovery/azure/machine_learning_properties_test.go
Labels: api

Add test getComputeStringList()
  service/discovery/azure/machine_learning_properties_test.go
Labels: api

Add ml workspace mock data
  service/discovery/azure/azure_test.go
Labels: api

change function visibility from public to private
  launcher/launcher.go
  launcher/spec.go
Labels: api

Update the public URL of the embedded OAuth2 server
  server/rest/rest.go
Labels: api

Add tests for ML workspace handle and discovery
  service/discovery/azure/machine_learning_discovery.go
  service/discovery/azure/machine_learning_discovery_test.go
  service/discovery/azure/machine_learning_handle_test.go
Labels: api

Add tests handleMLCompute
  service/discovery/azure/machine_learning_handle_test.go
Labels: api

Add tests
  service/discovery/azure/azure_test.go
  service/discovery/azure/machine_learning_discovery_test.go
Labels: api

Fix tests
  service/discovery/azure/machine_learning_discovery_test.go
  service/discovery/azure/machine_learning_properties_test.go
Labels: api

Delete atRestEnc; Add transportEncryption
  service/discovery/azure/machine_learning_handle.go
Labels: api

Clean up
  service/discovery/azure/machine_learning_handle.go
Labels: api

Fix typo
  service/discovery/azure/azure.go
  service/discovery/azure/machine_learning_discovery_test.go
Labels: api

Remove blank line
  service/discovery/azure/azure.go
Labels: api

Fix sorting of imports
  service/discovery/azure/machine_learning_discovery.go
  service/discovery/azure/machine_learning_discovery_test.go
  service/discovery/azure/machine_learning_handle.go
  service/discovery/azure/machine_learning_handle_test.go
  service/discovery/azure/machine_learning_properties.go
  service/discovery/azure/machine_learning_properties_test.go
Labels: api

Fix error message
  service/discovery/azure/machine_learning_discovery.go
Labels: api

Fix typo
  service/discovery/azure/machine_learning_handle.go
Labels: api

Fix error message
  service/discovery/azure/azure.go
Labels: api

Fix error messages in tests
  service/discovery/azure/backup_test.go
  service/discovery/azure/resource_group_test.go
  service/discovery/azure/storage_test.go
Labels: api

Add debug message for more providing more information
  service/discovery/azure/machine_learning_handle.go
Labels: api

Remove blank line
  service/discovery/azure/machine_learning_properties.go
Labels: api

[Azure] Add ML workspace discovery (#1649)
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/azure_clients.go
  service/discovery/azure/azure_properties.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/backup_test.go
  service/discovery/azure/compute_handle.go
  service/discovery/azure/compute_properties.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/machine_learning_discovery.go
  service/discovery/azure/machine_learning_discovery_test.go
  service/discovery/azure/machine_learning_handle.go
  service/discovery/azure/machine_learning_handle_test.go
  service/discovery/azure/machine_learning_properties.go
  service/discovery/azure/machine_learning_properties_test.go
  service/discovery/azure/resource_group_test.go
  service/discovery/azure/storage_test.go
Labels: api

Align receiver names of Azure Discovery
  service/discovery/azure/azure.go
Labels: api

Azure: Align receiver names (#1656)
  service/discovery/azure/azure.go
Labels: api

Update go and toolchain version
  go.mod
Labels: api

.github/labeler.yml:

# Add 'cmd/engine' label to any changes in cmd/engine directory
cmd/engine:
- changed-files:
  - any-glob-to-any-file: 'cmd/engine/*'

# Add 'policies' label to any changes in policies directory
policies:
- changed-files:
  - any-glob-to-any-file: 'policies/**/*'

# Add 'persistence' label to any changes in persistence directory
persistence:
- changed-files:
  - any-glob-to-any-file: 'persistence/**/*'

# Add 'api/evaluation' label to any changes in api/evaluation directory
api/evaluation:
- changed-files:
  - any-glob-to-any-file: 'api/evaluation/*'

# Add 'api' label to any changes in api directory, excluding api/evaluation
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - '!api/evaluation/*'

# Add 'service/discovery' label to any changes in service/discovery directory
service/discovery:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/*'

# Add 'service/assessment' label to any changes in service/assessment directory
service/assessment:
- changed-files:
  - any-glob-to-any-file: 'service/assessment/*'

# Add 'service/orchestrator' label to any changes in service/orchestrator directory
service/orchestrator:
- changed-files:
  - any-glob-to-any-file: 'service/orchestrator/*'

# Add 'internal' label to any changes in internal directory
internal:
- changed-files:
  - any-glob-to-any-file: 'internal/**/*'

# Add 'voc' label to any changes in voc directory
voc:
- changed-files:
  - any-glob-to-any-file: 'voc/**/*'

# Add 'service' label to any changes in service directory, excluding certain subdirectories
service:
- all:
  - changed-files:
    - any-glob-to-any-file: 'service/**/*'
    - all-globs-to-all-files: '!service/assessment/*'
    - all-globs-to-all-files: '!service/orchestrator/*'
    - all-globs-to-all-files: '!service/discovery/*'
    - all-globs-to-all-files: '!service/discovery/extra/csaf/*'

# Add 'csaf' label to any changes in service/discovery/extra/csaf directory
csaf:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/extra/csaf/*'
