Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/evidence_store, service/assessment, service/orchestrator, internal, voc, csaf

Change naming
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.proto
  openapi/evidence/openapi.yaml
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api

Update go.*
  go.mod
  go.sum
Labels: api

Add openstack cluster discovery
  service/discovery/openstack/cluster.go
  service/discovery/openstack/cluster_handle.go
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_clients.go
Labels: api

Add cluster discovery to List()
  service/discovery/openstack/openstack.go
Labels: api

clean up
  api/ontology/ontology.go
Labels: api

Add cluster client init
  service/discovery/openstack/cluster_handle.go
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_properties.go
Labels: api

Add field name to AuditScope
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  api/validate_test.go
  internal/testdata/testdata.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/audit_scope_test.go
  service/orchestrator/target_of_evaluation_test.go
Labels: api, service/orchestrator, internal

Update tests
  service/evaluation/evaluation_test.go
Labels: api

Fix test
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_containerinfra.go
  service/discovery/openstack/openstack_test.go
Labels: api, internal

Add field `name` to `AuditScope` (#1736)
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  api/validate_test.go
  internal/testdata/testdata.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/evaluation/evaluation_test.go
  service/orchestrator/audit_scope_test.go
  service/orchestrator/target_of_evaluation_test.go
Labels: api, service/orchestrator, internal

Rename file
  service/discovery/openstack/cluster_discovery.go
Labels: api

Add tests for cluster discovery and handle
  service/discovery/openstack/cluster_discovery_test.go
  service/discovery/openstack/cluster_handle_test.go
Labels: api

Add missing tests
  service/discovery/openstack/openstack_clients_test.go
  service/discovery/openstack/openstack_test.go
Labels: api

Fix
  service/discovery/openstack/openstack_test.go
Labels: api

Add log info to handleCluster
  service/discovery/openstack/cluster_handle.go
Labels: api

Extend logging StoreEvidence()
  internal/api/request.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Labels: api, internal

Change OpenStack: The discovery error does not return an error but logs it and proceeds
  service/discovery/openstack/openstack.go
Labels: api

Update tests
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_test.go
Labels: api

Update tests
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_test.go
Labels: api

Change OpenStack: The discovery error does not return an error but logs it and proceeds
  service/discovery/openstack/openstack.go
Labels: api

Add log info number of resources discovered in OpenStack
  service/discovery/openstack/openstack.go
Labels: api

Add AllowReauth flag
  service/discovery/openstack/openstack.go
Labels: api

Fix test
  service/discovery/openstack/openstack_test.go
Labels: api

.github/labeler.yml:

# Add 'cmd/engine' label to any changes in cmd/engine directory
cmd/engine:
- changed-files:
  - any-glob-to-any-file: 'cmd/engine/*'

# Add 'policies' label to any changes in policies directory
policies:
- changed-files:
  - any-glob-to-any-file: 'policies/**/*'

# Add 'persistence' label to any changes in persistence directory
persistence:
- changed-files:
  - any-glob-to-any-file: 'persistence/**/*'

# Add 'api/evaluation' label to any changes in api/evaluation directory
api/evaluation:
- changed-files:
  - any-glob-to-any-file: 'api/evaluation/*'

# Add 'api' label to any changes in api directory, excluding api/evaluation
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - '!api/evaluation/*'

# Add 'service/discovery' label to any changes in service/discovery directory
service/discovery:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/*'

# Add 'service/evidence_store' label to any changes in service/evidence_store directory
service/evidence_store:
- changed-files:
  - any-glob-to-any-file: 'service/evidence_store/*'

# Add 'service/assessment' label to any changes in service/assessment directory
service/assessment:
- changed-files:
  - any-glob-to-any-file: 'service/assessment/*'

# Add 'service/orchestrator' label to any changes in service/orchestrator directory
service/orchestrator:
- changed-files:
  - any-glob-to-any-file: 'service/orchestrator/*'

# Add 'internal' label to any changes in internal directory
internal:
- changed-files:
  - any-glob-to-any-file: 'internal/**/*'

# Add 'voc' label to any changes in voc directory
voc:
- changed-files:
  - any-glob-to-any-file: 'voc/**/*'

# Add 'service' label to any changes in service directory, excluding certain subdirectories
service:
- all:
  - changed-files:
    - any-glob-to-any-file: 'service/**/*'
    - all-globs-to-all-files: '!service/assessment/*'
    - all-globs-to-all-files: '!service/orchestrator/*'
    - all-globs-to-all-files: '!service/discovery/*'
    - all-globs-to-all-files: '!service/discovery/extra/csaf/*'

# Add 'csaf' label to any changes in service/discovery/extra/csaf directory
csaf:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/extra/csaf/*'
