Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

Fixed rather stupid mistake
  persistence/gorm/gorm.go
  service/orchestrator/metrics_test.go
  service/paginate_test.go
Labels: persistence, service/orchestrator, service

Hotfix for persistence issues (#799)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  go.mod
  go.sum
  persistence/gorm/gorm.go
  service/orchestrator/requirements_test.go
Labels: persistence, api, service/orchestrator

Various gorm model improvements
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  internal/testutil/storage.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory.go
  persistence/persistence.go
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/paginate_test.go
Labels: persistence, api, service/orchestrator, service, internal

add list controls method and test, fix some minor things
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/toe_test.go
Labels: api, service/orchestrator

rename cloud service id, add toe tests
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  cli/commands/cloud/cloud.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/util/struct_test.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  policies/rego.go
  service/assessment/assessment.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: policies, persistence, api, service/discovery, service/assessment, service/orchestrator, service, internal

fix get toe test
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: service/orchestrator

fix toe tests, fix minor issues
  cli/commands/cloud/cloud.go
  persistence/gorm/gorm.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: persistence, service/orchestrator

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*
