Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*

Rename `ListRequest` and `PaginatedRequest`
  api/request.go
Labels: api

Rename `ListRequest` and add `PaginatedRequest`
  api/request.go
Labels: api

Trigger GitHub checks
  internal/util/struct_test.go
Labels: internal

MV ordering to `PaginatedRequest`
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  api/pagination.go
  api/request.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements.go
  service/paginate.go
  service/paginate_test.go
Labels: api, service/orchestrator, service

Fix error
  service/discovery/k8s/compute.go
  service/discovery/k8s/storage.go
Labels: service

Fix `unused` fields
  service/paginate_test.go
Labels: service

Add comments
  persistence/gorm/gorm.go
Labels: persistence

Add Kubernetes Volume discovery (#728)
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  service/discovery/discovery.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
Labels: api, service/discovery, service

Use current `protoc-gen-openapi` version
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
Labels: api

Go generate
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
Labels: api

Implementing RequirementsSource
  policies/policies.go
  service/assessment/assessment.go
Labels: policies, service/assessment

Implementing `RequirementsSource` in assessment service (#732)
  policies/policies.go
  service/assessment/assessment.go
Labels: policies, service/assessment

Fixed flakey discovery test
  service/discovery/discovery_test.go
Labels: service/discovery

Fixed flakey discovery test (#734)
  service/discovery/discovery_test.go
Labels: service/discovery

Add interval to metric
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/orchestrator/openapi.yaml
Labels: api

Add duration serializer
  persistence/gorm/gorm.go
Labels: persistence

Add DurationSerializer test
  persistence/gorm/gorm_test.go
Labels: persistence

Add missing tag
  api/assessment/metric.pb.go
  api/assessment/metric.proto
Labels: api

Add missing pb file
  third_party/google/protobuf/duration.proto
Labels: none

Update azure auth and list resources (compute, storage, networking
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  go.mod
  go.sum
  service/discovery/azure/arm_template.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: api, service

Update error handling
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: service

Add mutex for resources
  service/discovery/discovery.go
Labels: service/discovery

Update protobuf
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
Labels: api

Refactor
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go.backup
Labels: service

Start update tests
  service/discovery/azure/azure_test.go
  service/discovery/azure/storage_test.go
Labels: service

Clean up
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: service

Made it compile
  service/discovery/azure/arm_template.go.tobemigrated
  service/discovery/azure/arm_template_test.go.tobemigrated
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: service

Mock seeems to work, discovery function crashes
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
Labels: service

Better namign
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
Labels: service

Fix option
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
Labels: api

Fix GW HTTP Options (#746)
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
Labels: api

Add azure tests
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
Labels: service

Fix Azure Storage
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Fix Azure Network
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
Labels: service

Fix Azure Compute
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service

Fix Azure discovery test
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  service/discovery/azure/azure.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
Labels: api, service/discovery, service

Fix lint issues
  service/discovery/azure/network.go
Labels: service

Add azure tests
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
Labels: service

Fix lint error
  service/discovery/azure/azure_test.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: service

Update Azure network tests
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Labels: service
