Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*

Log optimizations (#698)
  api/streams.go
  api/streams_test.go
  service/assessment/assessment.go
Labels: api, service/assessment

Fixed bug when populating applicable metric cache
  policies/rego.go
  service/assessment/assessment_test.go
Labels: policies, service/assessment

Double unwrap
  policies/rego.go
Labels: policies

Better unwrap
  policies/rego.go
Labels: policies

Added missing files for better unwrap
  api/errors.go
  api/errors_test.go
Labels: api

fix
  policies/rego.go
Labels: policies

Update service/assessment/assessment_test.go
  service/assessment/assessment_test.go
Labels: service/assessment

Added copyright header
  api/errors.go
  api/errors_test.go
Labels: api

Reverted changes from anatheka
  service/assessment/assessment_test.go
Labels: service/assessment

formatting
  service/assessment/assessment_test.go
Labels: service/assessment

Fixed bug when populating applicable metric cache (#703)
  api/errors.go
  api/errors_test.go
  policies/rego.go
  service/assessment/assessment_test.go
Labels: policies, api, service/assessment

Get evidence implementation
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/evidence/evidence_store.go
Labels: api, service

Fixed ordering of assessment results
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

Fixed ordering of assessment results (#706)
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

Add context to CloudServiceHook
  api/orchestrator/orchestrator.go
  service/assessment/assessment_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/assessment, service/orchestrator

Fix
  service/assessment/assessment_test.go
Labels: service/assessment

Add hookMutex
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

Add context to CloudServiceHook (#707)
  api/orchestrator/orchestrator.go
  service/orchestrator/cloud_service.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator

Added some basic claims for OpenID connect
  service/auth_middleware.go
  service/auth_middleware_test.go
Labels: service

++
  service/auth_middleware.go
  service/auth_middleware_test.go
Labels: service

Added some basic claims for OpenID connect (#708)
  service/auth_middleware.go
  service/auth_middleware_test.go
Labels: service

Always returing the complete list of available metric configurations
  service/orchestrator/metrics.go
Labels: service/orchestrator

Always returing the complete list of available metric configurations (#709)
  service/orchestrator/metrics.go
Labels: service/orchestrator

Implementing a GORM serializer for `timestamppb.Timestamp`
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/metric.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/orchestrator/orchestrator.pb.go
  go.mod
  go.sum
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/persistence.go
  proto.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
  third_party/google/protobuf/timestamp.proto
  third_party/openapiv3/LICENSE
  third_party/openapiv3/OpenAPIv3.proto
  third_party/openapiv3/annotations.proto
Labels: persistence, api, service/discovery, service

Added test
  persistence/gorm/gorm_test.go
Labels: persistence

Removed openapi files
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/evidence/evidence.pb.go
  third_party/openapiv3/LICENSE
  third_party/openapiv3/OpenAPIv3.proto
  third_party/openapiv3/annotations.proto
Labels: api

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Create CODEOWNERS (#711)
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS (#712)
  .github/CODEOWNERS
Labels: none

Remove unncessary error in get metric configuration
  service/orchestrator/metrics.go
Labels: service/orchestrator

Remove unncessary error in get metric configuration (#713)
  service/orchestrator/metrics.go
Labels: service/orchestrator

Add metric name to logs
  policies/rego.go
Labels: policies

Add metric name to logs in rego.go (#715)
  policies/rego.go
Labels: policies

Add transport encrpyton to networkService
  service/discovery/aws/storage.go
  service/discovery/azure/storage.go
Labels: service

Add transportEncryption to networkService (#716)
  service/discovery/aws/storage.go
  service/discovery/azure/storage.go
Labels: service

Adressed review comments from @lebogg
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  service/discovery/discovery.go
  third_party/google/protobuf/timestamp.proto
Labels: persistence, api, service/discovery

Upgrade gopkg.in/yaml.v3 to v3.0.0
  go.mod
  go.sum
Labels: none
