Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

Add comments
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Labels: api

target_of_evaluation snakecase
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
Labels: api

target_of_evaluation snakecase++
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
Labels: api

Preparing service ID in discovery (#782)
  .vscode/launch.json
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/discovery/discovery.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
  service/orchestrator/orchestrator.go
  service/paginate.go
  service/paginate_test.go
  voc/voc.go
Labels: api, service/discovery, service/assessment, service/orchestrator, service

Clearing cached configuration from assessment when metric has changed
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: service/assessment

Using ServiceID in policy evaluation to differentiate between services
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/page_token.pb.go
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  service/assessment/assessment.go
Labels: policies, api, service/assessment

Propagating serviceID in UpdateMetricConfiguration event
  service/orchestrator/metrics.go
Labels: service/orchestrator

Adding serviceID to correct cache key
  policies/policies.go
  policies/rego.go
Labels: policies

Proper naming of serviceID and metricID
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  service/assessment/assessment.go
Labels: policies, service/assessment

Clearing cached configuration from assessment when metric has changed (#790)
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/page_token.pb.go
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
Labels: policies, api, service/assessment, service/orchestrator

minor api path change
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Labels: api

add FullSaveAssociations flag to save operation
  persistence/gorm/gorm.go
Labels: persistence

add FullSaveAssociations flag to update operation
  persistence/gorm/gorm.go
Labels: persistence

Made catalog and control ID optional
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
Labels: api

add categories and respective messages and rpcs
  api/orchestrator/orchestrator.proto
Labels: api

Excluding reflection API from authentication
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/orchestrator/orchestrator.pb.go
  api/page_token.pb.go
  cmd/engine/engine.go
  service/grpc.go
Labels: cmd/engine, api, service

Added test for reflection
  service/grpc.go
  service/grpc_test.go
Labels: service

Excluding reflection API from authentication (#780)
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/orchestrator/orchestrator.pb.go
  api/page_token.pb.go
  cmd/engine/engine.go
  service/grpc.go
  service/grpc_test.go
Labels: cmd/engine, api, service

Switching to database for metric configuration
  persistence/inmemory/inmemory.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Labels: persistence, service/orchestrator

Removing metricConfigurations map
  .vscode/settings.json
  clouditor.code-workspace
  persistence/gorm/gorm.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements_test.go
  service/paginate_test.go
Labels: persistence, service/orchestrator, service

Preparing persistance of MetricConfiguration
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory.go
Labels: persistence, api

Store `MetricConfiguration` in persistence layer (#775)
  .vscode/settings.json
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  clouditor.code-workspace
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements_test.go
  service/paginate_test.go
Labels: persistence, api, service/orchestrator, service

additional bindings, composite keys
  api/orchestrator/orchestrator.proto
Labels: api

additional bindings, composite keys
  api/orchestrator/orchestrator.proto
Labels: api

catalog -> category -> control with composite keys works
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  cli/commands/service/orchestrator/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs.json
Labels: persistence, api, service/orchestrator

Using new viper.GetUint16
  cmd/engine/engine.go
Labels: cmd/engine

Sub controls work
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  cli/commands/service/orchestrator/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs.json
  service/orchestrator/metrics.go
  service/orchestrator/orchestrator.go
Labels: persistence, api, service/orchestrator

Added more tests, which are failing
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  cli/commands/service/orchestrator/orchestrator.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs.json
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator, internal

Switching to pure-Go sqlite driver
  go.mod
  go.sum
  internal/testutil/orchestratortest/orchestrator.go
  persistence/gorm/gorm.go
  service/orchestrator/catalogs_test.go
Labels: persistence, service/orchestrator, internal

Cleanup
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Labels: api, service/orchestrator

Fixed last test
  persistence/gorm/gorm.go
Labels: persistence

Fixed after merge
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/catalogs_test.go
Labels: api, service/orchestrator

Added autocomplete for catalog IDs
  cli/commands/service/orchestrator/orchestrator.go
  cli/session.go
Labels: none

Hotfix for persistence issues
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  go.mod
  go.sum
  persistence/gorm/gorm.go
  service/orchestrator/requirements_test.go
Labels: persistence, api, service/orchestrator

Fixed unit tests
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator, internal

Added more tests for cli
  cli/commands/service/orchestrator/orchestrator_test.go
Labels: none

Added more tests to CLI
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  cli/commands/service/orchestrator/orchestrator.go
  cli/session.go
  cli/session_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
Labels: api, service/orchestrator

Fixed linting error
  cli/session_test.go
Labels: none

Hotfix for persistence issues
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  go.mod
  go.sum
  persistence/gorm/gorm.go
  service/orchestrator/requirements_test.go
Labels: persistence, api, service/orchestrator

Implemented ToE as join table
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: persistence, api, service/orchestrator

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*
