Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

Add Docker Hub push instructions to build
  .github/workflows/build.yml
Labels: none

Move Clouditor to Go 1.19
  .github/workflows/build.yml
  go.mod
  internal/auth/pem_test.go
Labels: internal

Move Clouditor to Go 1.19 (#785)
  .github/workflows/build.yml
  go.mod
  internal/auth/pem_test.go
Labels: internal

Hardcode arguments
  Dockerfile
Labels: none

Hardcode arguments
  Dockerfile
Labels: none

add nested controls
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  cli/commands/cloud/cloud.go
  cli/commands/commands.go
  cli/commands/control/control.go
  cli/commands/control/control_test.go
  cli/commands/service/orchestrator/orchestrator.go
  cli/session.go
  cli/session_test.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.json
  service/orchestrator/controls.json
  service/orchestrator/controls_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator, internal

Go generate
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
Labels: api

Use other sqldriver for gorm
  go.mod
  go.sum
  persistence/gorm/gorm.go
Labels: persistence

Use alpine
  Dockerfile
Labels: none

Use alpine for build as well
  Dockerfile
Labels: none

Use pure alpine for prod image (not go alpine)
  Dockerfile
Labels: none

Use GORM's sqlite driver again
  go.mod
  go.sum
  persistence/gorm/gorm.go
Labels: persistence

Remove hardcoded ENV variables
  Dockerfile
Labels: none

delete default controls
  service/orchestrator/controls.go
  service/orchestrator/controls.json
  service/orchestrator/controls_test.go
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

Add push to GHCR
  .github/workflows/build.yml
  Dockerfile
Labels: none

Build image 2nd time for ghcr
  .github/workflows/build.yml
Labels: none

add nested control in sample catalog
  service/orchestrator/catalogs.json
Labels: service/orchestrator

Fix typo
  .github/workflows/build.yml
Labels: none

Leverage action for pushing to both registries
  .github/workflows/build.yml
Labels: none

Add platforms
  .github/workflows/build.yml
Labels: none

Add `latest` to tag and RM labels
  .github/workflows/build.yml
Labels: none

Fix typo
  .github/workflows/build.yml
Labels: none

Remove arm option (needs to long)
  .github/workflows/build.yml
Labels: none

Test if condition
  .github/workflows/build.yml
Labels: none

Test printing github.event_name
  .github/workflows/build.yml
Labels: none

Test printing github.event_name
  .github/workflows/build.yml
Labels: none

Test Docker Login w/ if clause
  .github/workflows/build.yml
Labels: none

Make sub controls "belongs to" a main control
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  openapi/orchestrator/openapi.yaml
Labels: api

Refactor tests
  service/orchestrator/orchestrator_test.go
Labels: service/orchestrator

Refactor tests
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: service/orchestrator, internal

Use only one `ListMetrics` endpoint
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
Labels: api, service/orchestrator, internal

Fix
  service/orchestrator/metrics.go
Labels: service/orchestrator

Restored CLI command for catalog listing
  cli/commands/catalog/catalog.go
  cli/commands/service/orchestrator/orchestrator.go
  persistence/gorm/gorm.go
  service/orchestrator/catalogs.json
Labels: persistence, service/orchestrator

Sync generated protobuf files
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  go.mod
  go.sum
Labels: api

Sync generated protobuf files (#788)
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  go.mod
  go.sum
Labels: api

Preparing service ID in discovery
  api/discovery/discovery.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  openapi/discovery/openapi.yaml
  service/discovery/aws/compute.go
  service/discovery/aws/storage.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  voc/voc.go
Labels: api, service/discovery, service

Added ServiceID to test
  service/discovery/aws/compute_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/storage_test.go
Labels: service

Adding filter to list assessment results
  .vscode/launch.json
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/discovery/discovery.go
  service/orchestrator/orchestrator.go
  service/paginate.go
  service/paginate_test.go
Labels: api, service/discovery, service/assessment, service/orchestrator, service

Experimental PR with golang-jwt v5
  go.mod
  go.sum
  internal/auth/key_loader.go
  service/auth_middleware.go
Labels: service, internal

Expose ports
  Dockerfile
Labels: none

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*
