Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

Update Azure SDK (#739)
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  go.mod
  go.sum
  internal/util/copy_test.go
  internal/util/deref.go
  internal/util/deref_test.go
  internal/util/string_test.go
  internal/util/time.go
  internal/util/time_test.go
  service/assessment/assessment_test.go
  service/discovery/azure/arm_template.go
  service/discovery/azure/arm_template_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: api, service/discovery, service/assessment, service, internal

Upgrading Azure modules
  go.mod
  go.sum
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Fixed diskEncryptionSetID
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Upgrading github.com/AzureAD/microsoft-authentication-library-for-go
  go.mod
  go.sum
Labels: none

Harmonized diskEncryptionSetID (Go) vs diskEncryptionSetId (json)
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Delete duplicate logging
  service/discovery/azure/storage.go
Labels: service

Upgrading Azure modules (#765)
  go.mod
  go.sum
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Add discoverer name
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: service

Delete duplicate logging (#766)
  service/discovery/azure/storage.go
Labels: service

Update tests
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

API: Add error message to evidence
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
Labels: api

API: Add comment
  api/evidence/evidence.proto
Labels: api

go generate ./...
  api/evidence/evidence.pb.go
Labels: api

Add serializer and RM error from evidence message
  api/assessment/metric.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  proto.go
Labels: persistence, api

Add discoverer component name (#767)
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Refactor evidence store
  service/evidence/evidence_store.go
Labels: service

Fix tests
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: service

Fix unused error
  service/evidence/evidence_store.go
Labels: service

Add `WithStorage` option
  api/assessment/metric.go
  cmd/engine/engine.go
  service/evidence/evidence_store.go
Labels: cmd/engine, api, service

Add test
  service/evidence/evidence_store_test.go
Labels: service

Provide information in debug log about failed authentication requests
  service/auth_middleware.go
Labels: service

Adding WithAuthorizer
  service/assessment/assessment.go
Labels: service/assessment

Added AnySerializer
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
Labels: persistence

Added register
  persistence/gorm/gorm.go
Labels: persistence

Added missing files
  persistence/gorm/serializer.go
  persistence/gorm/serializer_test.go
Labels: persistence

Pointer fix
  persistence/gorm/serializer.go
Labels: persistence

add target of evaluation and related properties
  api/orchestrator/orchestrator.proto
Labels: api

Refactor
  persistence/gorm/serializer.go
Labels: persistence

Fixed flakey test
  persistence/gorm/serializer.go
  persistence/gorm/serializer_test.go
Labels: persistence

Providing a serialiser for protobuf message `google.protobuf.Any` in GORM (#774)
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer.go
  persistence/gorm/serializer_test.go
  service/assessment/assessment.go
  service/auth_middleware.go
Labels: persistence, service/assessment, service

RM write to standard output
  persistence/gorm/serializer.go
Labels: persistence

Remove Write to Standard Output (#779)
  persistence/gorm/serializer.go
Labels: persistence

rename requirements to controls, add catalog entity
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  api/page_token.pb.go
  cli/commands/cloud/cloud.go
  cli/commands/control/control.go
  cli/commands/control/control_test.go
  cli/commands/service/orchestrator/orchestrator.go
  cli/session.go
  cli/session_test.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  policies/policies.go
  service/assessment/assessment.go
  service/orchestrator/controls.go
  service/orchestrator/controls_test.go
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/requirements.go
  service/orchestrator/requirements_test.go
Labels: policies, persistence, api, service/assessment, service/orchestrator, internal

Fix (Gorm): preload specific nested association
  persistence/gorm/gorm.go
Labels: persistence

Revert Get Fix
  persistence/gorm/gorm.go
Labels: persistence

Refactor test
  service/orchestrator/orchestrator_test.go
Labels: service/orchestrator

refactor controls API
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/orchestrator/controls.json
Labels: api, service/assessment, service/orchestrator

Add Docker instructions
  .github/workflows/build.yml
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Fix Dockerfile
  Dockerfile
Labels: none

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*
