Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, internal, voc, csaf

.github/labeler.yml:

# Add 'cmd/engine' label to any changes in cmd/engine directory
cmd/engine:
- changed-files:
  - any-glob-to-any-file: 'cmd/engine/*'

# Add 'policies' label to any changes in policies directory
policies:
- changed-files:
  - any-glob-to-any-file: 'policies/**/*'

# Add 'persistence' label to any changes in persistence directory
persistence:
- changed-files:
  - any-glob-to-any-file: 'persistence/**/*'

# Add 'api/evaluation' label to any changes in api/evaluation directory
api/evaluation:
- changed-files:
  - any-glob-to-any-file: 'api/evaluation/*'

# Add 'api' label to any changes in api directory, excluding api/evaluation
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - '!api/evaluation/*'

# Add 'service/discovery' label to any changes in service/discovery directory
service/discovery:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/*'

# Add 'service/assessment' label to any changes in service/assessment directory
service/assessment:
- changed-files:
  - any-glob-to-any-file: 'service/assessment/*'

# Add 'service/orchestrator' label to any changes in service/orchestrator directory
service/orchestrator:
- changed-files:
  - any-glob-to-any-file: 'service/orchestrator/*'

# Add 'internal' label to any changes in internal directory
internal:
- changed-files:
  - any-glob-to-any-file: 'internal/**/*'

# Add 'voc' label to any changes in voc directory
voc:
- changed-files:
  - any-glob-to-any-file: 'voc/**/*'

# Add 'service' label to any changes in service directory, excluding certain subdirectories
service:
- all:
  - changed-files:
    - any-glob-to-any-file: 'service/**/*'
    - all-globs-to-all-files: '!service/assessment/*'
    - all-globs-to-all-files: '!service/orchestrator/*'
    - all-globs-to-all-files: '!service/discovery/*'
    - all-globs-to-all-files: '!service/discovery/extra/csaf/*'

# Add 'csaf' label to any changes in service/discovery/extra/csaf directory
csaf:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/extra/csaf/*'

Update go version to 1.24
  go.mod
Labels: api

Update build.yml
  .github/workflows/build.yml
Labels: api

Fix linter error (#1661)
  .github/workflows/build.yml
  go.mod
Labels: api

[REST] Update the public URL of the embedded OAuth2 server (#1650)
  server/rest/rest.go
Labels: api

Swith from blockstorage v2 to v3
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_properties.go
  service/discovery/openstack/storage_discover.go
  service/discovery/openstack/storage_handle.go
  service/discovery/openstack/storage_handle_test.go
  service/discovery/openstack/storage_properties.go
  service/discovery/openstack/storage_properties_test.go
Labels: api, internal

Update openstack_storage.go
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
Labels: api, internal

Fix test
  service/discovery/openstack/openstack_test.go
Labels: api

Update openstack storage helper file
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
Labels: api, internal

Update source path
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
Labels: api, internal

[Discovery] Migrate from v2 to v3 OpenStack BlockStorage (#1662)
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_properties.go
  service/discovery/openstack/openstack_test.go
  service/discovery/openstack/storage_discover.go
  service/discovery/openstack/storage_handle.go
  service/discovery/openstack/storage_handle_test.go
  service/discovery/openstack/storage_properties.go
  service/discovery/openstack/storage_properties_test.go
Labels: api, internal

Update dockerfile image to 1.24
  Dockerfile
Labels: api

Add docker version check workflow
  .github/workflows/check-docker-version.yml
Labels: api

check the go versions
  .github/workflows/check-docker-version.yml
Labels: api

Only on pull_request
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

++
  .github/workflows/check-docker-version.yml
Labels: api

Update Dockerfile (#1663)
  .github/workflows/check-docker-version.yml
  Dockerfile
Labels: api

[Launcher] Add launcher check for storage creation (#1647)
  clouditor.code-workspace
  launcher/launcher.go
  launcher/launcher_integration_test.go
  launcher/launcher_test.go
  launcher/spec.go
  persistence/gorm/gorm.go
Labels: persistence, api

Delete raw field from Evidence
  api/discovery/discovery.pb.gw.go
  api/discovery/experimental.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/testutil/servicetest/evidencetest/evidence.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
Labels: api/evaluation, api, service/discovery, service/assessment, internal

[Discovery] Remove raw field from evidence (#1646)
  api/discovery/discovery.pb.gw.go
  api/discovery/experimental.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/testutil/servicetest/evidencetest/evidence.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
Labels: api/evaluation, api, service/discovery, service/assessment, internal

update CertificationTarget
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  persistence/inmemory/inmemory_test.go
  service/orchestrator/audit_scope_test.go
  service/orchestrator/certification_target.go
  service/orchestrator/certification_target_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/paginate_test.go
Labels: persistence, api, service/orchestrator, internal

Update Certification Target
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.proto
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/testdata/testdata.go
  openapi/evaluation/openapi.yaml
  server/commands/discovery/discovery.go
  service/discovery/discovery.go
  service/evaluation/evaluation.go
  service/orchestrator/certification_target_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api/evaluation, api, service/discovery, service/orchestrator, internal

XcertificationTarget
  README.md
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evaluation/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
Labels: api

Update CertificationTargetID
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/evaluation/evaluation.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evaluation/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
Labels: api/evaluation, api, service/assessment

++
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/audit_scope_test.go
Labels: api, service/orchestrator

++
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/evaluation/evaluation.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/request.go
  openapi/orchestrator/openapi.yaml
  server/rest/rest_integration_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/audit_scope_test.go
  service/orchestrator/certification_target_test.go
Labels: api/evaluation, api, service/orchestrator

++
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/evaluation/evaluation.pb.go
  cli/commands/service/discovery/experimental_test.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
Labels: api/evaluation, api, internal

++
  api/discovery/discovery.pb.go
  api/evidence/evidence_store.pb.go
  internal/config/config.go
Labels: api, internal

++
  api/discovery/discovery.pb.go
  api/evidence/evidence_store.pb.go
  cli/commands/service/discovery/experimental_test.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
Labels: api, internal

++
  cli/commands/service/discovery/experimental_test.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
Labels: api, internal

++
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  server/rest/rest_integration_test.go
Labels: api

fix naming
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
  cli/session.go
  cli/session_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/certification_target.go
  service/orchestrator/certification_target_test.go
  service/paginate_test.go
Labels: api, service/orchestrator

reanme files
  service/orchestrator/target_of_evaluation.go
  service/orchestrator/target_of_evaluation_test.go
Labels: api, service/orchestrator

fix naming
  cli/commands/cloud/cloud.go
  cli/session.go
  cli/session_test.go
Labels: api

target target -> target
  cli/commands/cloud/cloud.go
  internal/logging/logging.go
  server/commands/orchestrator/orchestrator.go
  service/assessment/assessment.go
  service/orchestrator/orchestrator.go
  service/orchestrator/target_of_evaluation.go
Labels: api, service/assessment, service/orchestrator, internal
