Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, service, internal

Moved client/auth/azure import from k8s to discovery package
  service/discovery/discovery.go
  service/discovery/k8s/k8s.go
Labels: service/discovery, service

Fix lint error
  service/discovery/azure/network_test.go
Labels: service

Moved client/auth/azure import from k8s to discovery package (#751)
  service/discovery/discovery.go
  service/discovery/k8s/k8s.go
Labels: service/discovery, service

Add own dereference function
  go.sum
  internal/util/string.go
  internal/util/string_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
Labels: service, internal

Remove duplicates
  service/discovery/azure/network.go
Labels: service

Fix error
  service/discovery/azure/azure.go
Labels: service

Remove duplicates
  service/discovery/azure/network_test.go
Labels: service

Update Azure network tests (#749)
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Labels: service

Add util/copy test
  internal/util/copy_test.go
  service/discovery/azure/azure_test.go
Labels: service, internal

Fixed typo in error message of -> or
  policies/rego.go
Labels: policies

Replace metric interval type Duration by int64
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  third_party/google/protobuf/duration.proto
Labels: persistence, api

Fixed typo in error message of -> or (#753)
  policies/rego.go
Labels: policies

update
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  openapi/orchestrator/openapi.yaml
Labels: api

Add property interval to metric (#740)
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/orchestrator/openapi.yaml
Labels: api

Fixes all ports to be `uint16`
  cmd/engine/engine.go
  persistence/gorm/gorm.go
  rest/rest.go
  rest/rest_test.go
  service/discovery/azure/arm_template.go
  voc/network_service.go
Labels: cmd/engine, persistence, service

Small voc update
  voc/automatic_updates.go
  voc/backup.go
  voc/network_service.go
Labels: none

Using uint16 in ontology now
  service/discovery/azure/arm_template.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/network_test.go
Labels: service

Removed unnecessary cast
  cmd/engine/engine.go
  rest/rest_test.go
Labels: cmd/engine

Adding support for sslmode
  cmd/engine/engine.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
Labels: cmd/engine, persistence

Fixed remaining int ports
  api/authorizer_test.go
  cli/commands/cloud/cloud_test.go
  cli/commands/login/login_test.go
  cmd/engine/engine.go
  internal/testutil/auth.go
  internal/testutil/clitest/cli.go
  rest/rest.go
  rest/rest_test.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/auth_middleware_test.go
Labels: cmd/engine, api, service/assessment, service, internal

Fixed last port
  internal/testutil/auth.go
Labels: internal

Fixes all ports to be `uint16` (#754)
  api/authorizer_test.go
  cli/commands/cloud/cloud_test.go
  cli/commands/login/login_test.go
  cmd/engine/engine.go
  internal/testutil/auth.go
  internal/testutil/clitest/cli.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  rest/rest.go
  rest/rest_test.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/auth_middleware_test.go
  service/discovery/azure/arm_template.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/network_test.go
  voc/automatic_updates.go
  voc/backup.go
  voc/network_service.go
Labels: cmd/engine, persistence, api, service/assessment, service, internal

Add table specifier for gorm many2many relations
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Labels: api

Add table specifier for gorm many2many relations (#757)
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Labels: api

Update Azure storage tests and fixes
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Fix azure storage test
  service/discovery/azure/storage.go
Labels: service

Store error message to var
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Fix lint error
  service/assessment/assessment_test.go
  service/discovery/azure/storage.go
Labels: service/assessment, service

Fix lint errors
  service/assessment/assessment_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
Labels: service/assessment, service

Update Azure compute tests
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service

Update Azure storage discovery
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

Update Azure network discovery
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Labels: service

Add missing test
  internal/util/copy_test.go
Labels: internal

Delete unnecessary function and update test
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Labels: service

update
  service/discovery/discovery_test.go
Labels: service/discovery

Update reveiver name
  service/discovery/azure/azure_test.go
  service/discovery/discovery.go
Labels: service/discovery, service

last minor things
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  go.mod
  go.sum
  service/discovery/azure/arm_template.go.tobemigrated
  service/discovery/azure/azure_test.go
Labels: api, service

Refactor safeTimestamp, delete ARM template discovery
  internal/util/time.go
  internal/util/time_test.go
  service/discovery/azure/arm_template.go.tobemigrated
  service/discovery/azure/arm_template_test.go.tobemigrated
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage_test.go
Labels: service, internal

Refactor Deref()
  internal/util/deref.go
  internal/util/deref_test.go
  internal/util/string.go
  internal/util/string_test.go
  service/discovery/azure/azure.go
Labels: service, internal

Restructuring go.mod
  go.mod
Labels: none

.github/labeler.yml:

"cmd/engine":
  - cmd/engine/*

"policies":
  - policies/**/*

"persistence":
  - persistence/**/*

"api/evaluation":
  - api/evaluation/*

"api":
  - any: ["api/**/*", "!api/evaluation/*"]

"service/discovery":
  - service/discovery/*

"service/assessment":
  - service/assessment/*

"service/orchestrator":
  - service/orchestrator/*

"service":
  - any:
      [
        "service/**/*",
        "!service/assessment/*",
        "!service/orchestrator/*",
        "!service/discovery/*",
      ]

"internal":
  - internal/**/*
