Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/evidence_store, service/assessment, service/orchestrator, internal, voc, csaf

Use default service URLs from config file
  service/assessment/assessment.go
  service/discovery/discovery.go
  service/evidence/evidence_store.go
Labels: api, service/discovery, service/assessment

more
  service/assessment/assessment_test.go
Labels: api, service/assessment

Add option WithAuthorizer
  service/evidence/evidence_store.go
Labels: api

Fix test
  service/evidence/evidence_store_test.go
Labels: api

Delete connection from assessment to evidence store
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/assessment/waiting_request_test.go
  service/evidence/evidence_store_test.go
Labels: api, service/assessment

Delete unecessary test
  service/assessment/assessment_test.go
Labels: api, service/assessment

Update logging application gateway
  service/discovery/azure/network_discover.go
Labels: api

Add separate thread for dealing with evidence in evidence store
  persistence/persistence.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: persistence, api

Add test for EvidenceStore WithOAuth2Authorizer
  service/evidence/evidence_store_test.go
Labels: api

Add return error and test for method handleEvidence
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api

Add DB error in GetEvidence() test
  service/evidence/evidence_store_test.go
Labels: api

Fix merge conflicts
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/orchestrator

Add missing assessment results fields: updatedAt, History
  internal/testutil/clitest/cli.go
Labels: api, internal

Rename history.timestamp to history.evidence_recorded_at
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_test.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/assessment, service/orchestrator, internal

Rename assessmentResult timestamp fields
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_test.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/assessment, service/orchestrator, internal

Update go.mod
  go.mod
  go.sum
Labels: api

Add variables for calling the DB
  service/evidence/evidence_store.go
Labels: api

Move endpoints for the Evidence Resources from Discovery to Evidence Store
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/discovery/experimental.pb.go
  api/discovery/experimental.proto
  api/discovery/experimental_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
Labels: api

Update path experimentalDiscovery
  api/discovery/experimental.pb.go
  api/discovery/experimental.pb.gw.go
  api/discovery/experimental.proto
Labels: api

Move and reanme experimental endpoints
  api/discovery/experimental.pb.gw.go
  api/evidence/experimental.pb.go
  api/evidence/experimental.pb.gw.go
  api/evidence/experimental.proto
  api/evidence/experimental_grpc.pb.go
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
Labels: api

Move graph files from discovery to evidence
  service/evidence/graph.go
  service/evidence/graph_test.go
Labels: api

Update gorm default type
  persistence/gorm/gorm.go
Labels: persistence, api

Move DB from discovery to evidenceStore and update corresponding functions/methods/tests
  api/discovery/discovery.go
  api/discovery/discovery_test.go
  api/evidence/evidence.go
  api/evidence/evidence_store.go
  api/evidence/evidence_test.go
  api/ontology/ontology.go
  launcher/launcher_integration_test.go
  server/grpc.go
  server/rest/rest.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evidence/bufconn_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/evidence/graph.go
  service/evidence/graph_test.go
  service/orchestrator/target_of_evaluation.go
  service/orchestrator/target_of_evaluation_test.go
Labels: api, service/discovery, service/assessment, service/orchestrator

Add cli evidence commands
  cli/commands/resource/resource.go
  cli/commands/service/discovery/discovery.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/evidence/evidence.go
  cli/commands/service/evidence/evidence_test.go
  internal/testutil/clitest/cli.go
Labels: api, internal

Fix cli commands
  cli/commands/resource/resource.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/evidence/evidence.go
  cli/commands/service/evidence/evidence_test.go
  cli/commands/service/evidence/experimental.go
  cli/commands/service/evidence/experimental_test.go
  internal/testdata/testdata.go
  internal/testutil/clitest/cli.go
Labels: api, internal

Fix linter issues
  cli/commands/resource/resource_test.go
  cli/commands/service/evidence/evidence_test.go
  internal/testutil/clitest/cli.go
  service/evidence/bufconn_test.go
Labels: api, internal

Add check if resource in DB is the same
  internal/testdata/testdata.go
  internal/testutil/servicetest/evidencetest/evidence.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api, internal

Refactor MockResourceX to MockVirtualMachineX and MockBlockStorageX
  cli/commands/evidence/evidence_test.go
  internal/testdata/testdata.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/assessment, service/orchestrator, internal

Sort imports
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api

Adress review comments (spelling, typos)
  service/evidence/evidence_store.go
Labels: api

discovery, evidenceStore, assessment: Change workflow (#1721)
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.proto
  openapi/evidence/openapi.yaml
  persistence/persistence.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/assessment/waiting_request_test.go
  service/discovery/azure/network_discover.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/graph_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: persistence, api, service/discovery, service/assessment

Revert StoreEvidenceResponse
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.proto
  openapi/evidence/openapi.yaml
  service/discovery/discovery_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api, service/discovery

Cherry pick: resource testdata; Add ListResources() test
  cli/commands/evidence/evidence_test.go
  internal/testdata/testdata.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/evidencetest/evidence.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  service/assessment/assessment_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/assessment, service/orchestrator, internal

typo fixed
  cli/commands/evidence/evidence_test.go
Labels: api

Add log for checking amoe evidence
  service/evidence/evidence_store.go
Labels: api

Update log info
  service/evidence/evidence_store.go
Labels: api

Update ontology: add labels and new resources
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/ontology.owx
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/ontology/openapi.yaml
Labels: api, internal

Add endpoint 'GetSupportedResourceTypes' to evidenceStore
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/ontology/ontology.go
  api/ontology/ontology_test.go
  openapi/evidence/openapi.yaml
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api

Add endpoint 'GetSupportedResourceTypes' to evidenceStore
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/ontology/ontology.go
  api/ontology/ontology_test.go
  openapi/evidence/openapi.yaml
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api

Add test for GetSupportedResourceTypes()
  service/evidence/evidence_store_test.go
Labels: api

.github/labeler.yml:

# Add 'cmd/engine' label to any changes in cmd/engine directory
cmd/engine:
- changed-files:
  - any-glob-to-any-file: 'cmd/engine/*'

# Add 'policies' label to any changes in policies directory
policies:
- changed-files:
  - any-glob-to-any-file: 'policies/**/*'

# Add 'persistence' label to any changes in persistence directory
persistence:
- changed-files:
  - any-glob-to-any-file: 'persistence/**/*'

# Add 'api/evaluation' label to any changes in api/evaluation directory
api/evaluation:
- changed-files:
  - any-glob-to-any-file: 'api/evaluation/*'

# Add 'api' label to any changes in api directory, excluding api/evaluation
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - '!api/evaluation/*'

# Add 'service/discovery' label to any changes in service/discovery directory
service/discovery:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/*'

# Add 'service/evidence_store' label to any changes in service/evidence_store directory
service/evidence_store:
- changed-files:
  - any-glob-to-any-file: 'service/evidence_store/*'

# Add 'service/assessment' label to any changes in service/assessment directory
service/assessment:
- changed-files:
  - any-glob-to-any-file: 'service/assessment/*'

# Add 'service/orchestrator' label to any changes in service/orchestrator directory
service/orchestrator:
- changed-files:
  - any-glob-to-any-file: 'service/orchestrator/*'

# Add 'internal' label to any changes in internal directory
internal:
- changed-files:
  - any-glob-to-any-file: 'internal/**/*'

# Add 'voc' label to any changes in voc directory
voc:
- changed-files:
  - any-glob-to-any-file: 'voc/**/*'

# Add 'service' label to any changes in service directory, excluding certain subdirectories
service:
- all:
  - changed-files:
    - any-glob-to-any-file: 'service/**/*'
    - all-globs-to-all-files: '!service/assessment/*'
    - all-globs-to-all-files: '!service/orchestrator/*'
    - all-globs-to-all-files: '!service/discovery/*'
    - all-globs-to-all-files: '!service/discovery/extra/csaf/*'

# Add 'csaf' label to any changes in service/discovery/extra/csaf directory
csaf:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/extra/csaf/*'
