Repository clouditor/clouditor, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd/engine, policies, persistence, api/evaluation, api, service/discovery, service/assessment, service/orchestrator, internal, voc, csaf

Fix test
  service/discovery/aws/storage_test.go
Labels: api

Change Validator from struct to interface
  api/validate.go
Labels: api

Add missing UUID
  persistence/gorm/gorm_test.go
Labels: persistence, api

Fix test: Add missing UUID
  service/evaluation/evaluation_test.go
Labels: api

Fix cli RegisterCertificationTarget and test: add UUID
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
Labels: api

Fix test: add UUID
  service/orchestrator/certification_target_test.go
Labels: api, service/orchestrator

Update opa import to v1
  policies/rego.go
Labels: policies, api

Add if before metric rules (applicable, compliant)
  policies/bundles/EndpointSecurity/AutomaticUpdatesEnabled/metric.rego
  policies/bundles/EndpointSecurity/AutomaticUpdatesInterval/metric.rego
  policies/bundles/EndpointSecurity/AutomaticUpdatesSecurityOnly/metric.rego
  policies/bundles/EndpointSecurity/MalwareProtectionEnabled/metric.rego
  policies/bundles/EndpointSecurity/MalwareProtectionOutput/metric.rego
  policies/bundles/IdentityManagement/AdminMFAEnabled/metric.rego
  policies/bundles/IdentityManagement/AdminMixedDuties/metric.rego
  policies/bundles/IdentityManagement/AnonymousAuthentication/metric.rego
  policies/bundles/IdentityManagement/IdentityPasswordPolicy/metric.rego
  policies/bundles/IdentityManagement/IdentityRecentActivity/metric.rego
  policies/bundles/IdentityManagement/MutualAuthentication/metric.rego
  policies/bundles/IdentityManagement/ObjectStoragePublicAccessDisabled/metric.rego
  policies/bundles/IdentityManagement/RoleBroadAssignments/metric.rego
  policies/bundles/IdentityManagement/SingleSignOnEnabled/metric.rego
  policies/bundles/Inventory/Location/data.json
  policies/bundles/Inventory/Location/metric.rego
  policies/bundles/LoggingMonitoring/ActivityLoggingEnabled/data.json
  policies/bundles/LoggingMonitoring/ActivityLoggingEnabled/metric.rego
  policies/bundles/LoggingMonitoring/AnomalyDetectionEnabled/metric.rego
  policies/bundles/LoggingMonitoring/AnomalyDetectionOutput/metric.rego
  policies/bundles/LoggingMonitoring/BootLoggingEnabled/metric.rego
  policies/bundles/LoggingMonitoring/BootLoggingOutput/metric.rego
  policies/bundles/LoggingMonitoring/BootLoggingRetention/metric.rego
  policies/bundles/LoggingMonitoring/OSLoggingEnabled/metric.rego
  policies/bundles/LoggingMonitoring/OSLoggingOutput/metric.rego
  policies/bundles/LoggingMonitoring/OSLoggingRetention/metric.rego
  policies/bundles/NetworkSecurity/L3FirewallRestrictedPorts/metric.rego
  policies/bundles/NetworkSecurity/WebApplicationFirewallEnabled/metric.rego
  policies/bundles/PlatformSecurity/RuntimeVersion/metric.rego
  policies/bundles/StorageEncryption/AtRestEncryptionAlgorithm/metric.rego
  policies/bundles/StorageEncryption/AtRestEncryptionEnabled/metric.rego
  policies/bundles/StorageEncryption/CustomerKeyEncryption/metric.rego
  policies/bundles/TransportEncryption/TransportEncryptionEnabled/metric.rego
  policies/bundles/TransportEncryption/TransportEncryptionEnforced/metric.rego
  policies/bundles/TransportEncryption/TransportEncryptionProtocol/metric.rego
  policies/bundles/TransportEncryption/TransportEncryptionProtocolVersion/metric.rego
Labels: policies, api

Fix metrics test
  internal/testutil/metrictest/metric.rego
  service/orchestrator/metrics_test.go
Labels: api, service/orchestrator, internal

Update service/orchestrator/certification_target_test.go
  service/orchestrator/certification_target_test.go
Labels: api, service/orchestrator

Update service/orchestrator/certification_target_test.go
  service/orchestrator/certification_target_test.go
Labels: api, service/orchestrator

Update CreateEvaluationResult() and add ID before validation check; fix test
  api/evaluation/evaluation.proto
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
Labels: api/evaluation, api

Update StoreAssessmentResult() and add ID before validation check; fix test
  api/orchestrator/orchestrator.proto
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/orchestrator

Update RegisterCertificationTarget() and add ID before validation check; fix test
  service/orchestrator/certification_target.go
  service/orchestrator/certification_target_test.go
Labels: api, service/orchestrator

Fix proto file
  api/orchestrator/orchestrator.proto
Labels: api

go generate
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/discovery/experimental.pb.go
  api/evaluation/evaluation.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/ontology/ontology.pb.go
  api/ontology/service.pb.go
  api/orchestrator/orchestrator.pb.go
  api/page_token.pb.go
  api/runtime/runtime.pb.go
  internal/input/clouditor_header.pb.go
Labels: api/evaluation, api, internal

Revert changes to cli command cloud
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
Labels: api

clean up
  service/evaluation/evaluation_test.go
Labels: api

Remove AssessmentResult ID creation in handleEvidence
  service/assessment/assessment.go
  service/evaluation/evaluation.go
Labels: api, service/assessment

Fix test: after removing ID creation in handleEvidence
  service/assessment/assessment_test.go
Labels: api, service/assessment

++
  service/evaluation/evaluation.go
Labels: api

Revert changes to AssessmentResult
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/assessment, service/orchestrator

Update comments
  service/evaluation/evaluation.go
  service/orchestrator/certification_target.go
Labels: api, service/orchestrator

clean up
  policies/bundles/Inventory/Location/data.json
  policies/bundles/Inventory/Location/metric.rego
  policies/bundles/LoggingMonitoring/ActivityLoggingEnabled/data.json
  policies/bundles/LoggingMonitoring/ActivityLoggingEnabled/metric.rego
Labels: policies, api

Change csaf import csaf-poc -> gocsaf
  go.mod
  go.sum
  internal/testutil/servicetest/discoverytest/csaf/providertest/indextxt.go
  internal/testutil/servicetest/discoverytest/csaf/providertest/providertest.go
  service/discovery/extra/csaf/discovery_test.go
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/document_discover_test.go
  service/discovery/extra/csaf/document_properties.go
  service/discovery/extra/csaf/keys_discover.go
  service/discovery/extra/csaf/provider_discover.go
  service/discovery/extra/csaf/provider_properties.go
  service/discovery/extra/csaf/provider_properties_test.go
Labels: api, internal, csaf

Rename RegisterCertificationTarget to CreateCertificationTarget
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/discovery/experimental.pb.go
  api/evaluation/evaluation.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/ontology/ontology.pb.go
  api/ontology/service.pb.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  api/page_token.pb.go
  api/runtime/runtime.pb.go
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
  internal/input/clouditor_header.pb.go
  internal/logging/logging_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/certification_target.go
  service/orchestrator/certification_target_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api/evaluation, api, service/orchestrator, internal

Update moved CSAF repo (#1628)
  go.mod
  go.sum
  internal/testutil/servicetest/discoverytest/csaf/providertest/indextxt.go
  internal/testutil/servicetest/discoverytest/csaf/providertest/providertest.go
  service/discovery/extra/csaf/discovery_test.go
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/document_discover_test.go
  service/discovery/extra/csaf/document_properties.go
  service/discovery/extra/csaf/keys_discover.go
  service/discovery/extra/csaf/provider_discover.go
  service/discovery/extra/csaf/provider_properties.go
  service/discovery/extra/csaf/provider_properties_test.go
Labels: api, internal, csaf

Fix submodule ui
  .gitmodules
Labels: api

delete submodule
  .gitmodules
Labels: api

Add submodule confirmate/ui
  .gitmodules
Labels: api

Fix merge errors
  service/orchestrator/certification_target.go
  service/orchestrator/certification_target_test.go
Labels: api, service/orchestrator

Rename RegisterCertificationTarget to CreateCertificationTarget (#1629)
  .gitmodules
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  cli/commands/cloud/cloud.go
  cli/commands/cloud/cloud_test.go
  internal/logging/logging_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/certification_target.go
  service/orchestrator/certification_target_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator, internal

Update Ontology from webprotege
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
Labels: api, internal

go generate
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  openapi/ontology/openapi.yaml
Labels: api

Fix CSAF
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/provider_discover.go
Labels: api, csaf

Fix resource map test
  api/ontology/ontology_test.go
Labels: api

Update Ontology (#1638)
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  api/ontology/ontology_test.go
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  openapi/ontology/openapi.yaml
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/provider_discover.go
Labels: api, internal, csaf

Add additional check for WebApplicationFirewallConfiguration
  service/discovery/azure/network_handle.go
Labels: api

Change var name
  service/discovery/azure/network_handle.go
Labels: api

Fix handleApplicationGateway method (#1645)
  service/discovery/azure/network_handle.go
Labels: api

.github/labeler.yml:

# Add 'cmd/engine' label to any changes in cmd/engine directory
cmd/engine:
- changed-files:
  - any-glob-to-any-file: 'cmd/engine/*'

# Add 'policies' label to any changes in policies directory
policies:
- changed-files:
  - any-glob-to-any-file: 'policies/**/*'

# Add 'persistence' label to any changes in persistence directory
persistence:
- changed-files:
  - any-glob-to-any-file: 'persistence/**/*'

# Add 'api/evaluation' label to any changes in api/evaluation directory
api/evaluation:
- changed-files:
  - any-glob-to-any-file: 'api/evaluation/*'

# Add 'api' label to any changes in api directory, excluding api/evaluation
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - '!api/evaluation/*'

# Add 'service/discovery' label to any changes in service/discovery directory
service/discovery:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/*'

# Add 'service/assessment' label to any changes in service/assessment directory
service/assessment:
- changed-files:
  - any-glob-to-any-file: 'service/assessment/*'

# Add 'service/orchestrator' label to any changes in service/orchestrator directory
service/orchestrator:
- changed-files:
  - any-glob-to-any-file: 'service/orchestrator/*'

# Add 'internal' label to any changes in internal directory
internal:
- changed-files:
  - any-glob-to-any-file: 'internal/**/*'

# Add 'voc' label to any changes in voc directory
voc:
- changed-files:
  - any-glob-to-any-file: 'voc/**/*'

# Add 'service' label to any changes in service directory, excluding certain subdirectories
service:
- all:
  - changed-files:
    - any-glob-to-any-file: 'service/**/*'
    - all-globs-to-all-files: '!service/assessment/*'
    - all-globs-to-all-files: '!service/orchestrator/*'
    - all-globs-to-all-files: '!service/discovery/*'
    - all-globs-to-all-files: '!service/discovery/extra/csaf/*'

# Add 'csaf' label to any changes in service/discovery/extra/csaf directory
csaf:
- changed-files:
  - any-glob-to-any-file: 'service/discovery/extra/csaf/*'
