Repository clouditor/clouditor, pull requests merged in 2021-07, with the labels that each got.

#275 Update dependabot to exclude patch updates
  .github/dependabot.yml
Labels: dependencies

#261 Extend compute load balancer
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Labels: enhancement

#265 Azure quick discovery using IaC template export
  service/discovery/azure/compute_test.go
  service/discovery/azure/iac_template.go
  service/discovery/azure/iac_template_test.go
  service/discovery/azure/network.go
  service/discovery/discovery.go
  voc/access_restriction.go
  voc/log.go
Labels: discussion
