Repository clouditor/clouditor, pull requests merged in 2022-05, with the labels that each got.

#654 Fix Azure ARM storage URI
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  service/discovery/azure/arm_template.go
  service/discovery/azure/arm_template_test.go
Labels: api, service

#660 Quick fix for handling evidences from different collection tools
  go.mod
  go.sum
  policies/bundles/AnomalyDetectionEnabled/metric.rego
  policies/bundles/AnomalyDetectionOutput/metric.rego
  policies/bundles/AnonymousAuthentication/metric.rego
  policies/bundles/AtRestEncryptionAlgorithm/metric.rego
  policies/bundles/AtRestEncryptionEnabled/metric.rego
  policies/bundles/AutomaticUpdatesEnabled/metric.rego
  policies/bundles/AutomaticUpdatesInterval/metric.rego
  policies/bundles/AutomaticUpdatesSecurityOnly/metric.rego
  policies/bundles/BootLoggingEnabled/metric.rego
  policies/bundles/BootLoggingOutput/metric.rego
  policies/bundles/BootLoggingRetention/metric.rego
  policies/bundles/BroadAssignments/metric.rego
  policies/bundles/CustomerKeyEncryption/metric.rego
  policies/bundles/L3FirewallEnabled/metric.rego
  policies/bundles/L3FirewallRestrictedPorts/metric.rego
  policies/bundles/MalwareProtectionEnabled/metric.rego
  policies/bundles/MalwareProtectionOutput/metric.rego
  policies/bundles/MixedDuties/metric.rego
  policies/bundles/MutualAuthentication/metric.rego
  policies/bundles/OSLoggingEnabled/metric.rego
  policies/bundles/OSLoggingOutput/metric.rego
  policies/bundles/OSLoggingRetention/metric.rego
  policies/bundles/RuntimeVersion/metric.rego
  policies/bundles/SingleSignOnEnabled/metric.rego
  policies/bundles/TLSVersion/metric.rego
  policies/bundles/TransportEncryptionAlgorithm/metric.rego
  policies/bundles/TransportEncryptionEnabled/metric.rego
  policies/bundles/TransportEncryptionEnforced/metric.rego
  policies/bundles/WebApplicationFirewallEnabled/metric.rego
  policies/policies.go
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment_test.go
  service/discovery/azure/compute.go
  service/discovery/discovery.go
Labels: service/assessment, policies, service

#560 API for creating, updating, getting, and deleting a certificate
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, internal, service/orchestrator, persistence

#667 Add implementation for `UpdateMetricConfiguration`
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

#681 Implement hooks for updated cloud services
  api/orchestrator/orchestrator.go
  service/orchestrator/cloud_service.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator

#671 Persisting metrics in storage
  api/assessment/metric.go
  clouditor.code-workspace
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator, persistence

#670 Use generic streams function for orchestrator stream
  go.mod
  go.sum
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/bufconn_test.go
  service/discovery/azure/compute.go
Labels: service/assessment, service

#687 Quick fix to correct index of scale enum
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  go.mod
  go.sum
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm_test.go
Labels: api, persistence

#688 Make rego package name configurable
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: service/assessment, policies

#691 Persisting requirements in storage backend
  .github/workflows/build.yml
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  proto.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements.go
  service/orchestrator/requirements.json
  service/orchestrator/requirements_test.go
  third_party/tagger/LICENSE
  third_party/tagger/tagger.proto
  tools.go
Labels: api, service/orchestrator, persistence

#694 Make Sending Evidences to Evidence Store Optional
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/option.go
Labels: service/assessment, service

#693 Add ResourceTypes to AssessmentResult
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/evidence/evidence.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  policies/rego.go
  service/assessment/assessment.go
Labels: api, service/assessment, policies

#695 Implementing maximum concurrent connections for storage
  persistence/gorm/gorm.go
  persistence/inmemory/inmemory.go
Labels: persistence

#696 Adding category property to requirement
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/requirements.json
  service/orchestrator/requirements_test.go
Labels: api, service/orchestrator

#697 Add RegisterEvidenceHook mutex
  service/evidence/evidence_store.go
Labels: service

#700 Using `api.StreamsOf` in discovery service
  .github/labeler.yml
  cli/commands/service/discovery/discovery_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: service, service/discovery

#698 Log optimizations
  api/streams.go
  api/streams_test.go
  service/assessment/assessment.go
Labels: api, service/assessment

#706 Fixed ordering of assessment results
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

#708 Added some basic claims for OpenID connect
  service/auth_middleware.go
  service/auth_middleware_test.go
Labels: service

#709 Always returing the complete list of available metric configurations
  service/orchestrator/metrics.go
Labels: service/orchestrator

#713 Remove unncessary error in get metric configuration
  service/orchestrator/metrics.go
Labels: service/orchestrator

#715 Add metric name to logs in rego.go
  policies/rego.go
Labels: policies

#716 Add transportEncryption to networkService
  service/discovery/aws/storage.go
  service/discovery/azure/storage.go
Labels: service

#710 Implementing a GORM serializer for `timestamppb.Timestamp`
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/metric.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/orchestrator/orchestrator.pb.go
  go.mod
  go.sum
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/persistence.go
  proto.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
Labels: api, service, service/discovery, persistence
