Repository clouditor/clouditor, pull requests merged in 2022-04, with the labels that each got.

#607 Fix initXXXStream error
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: service/assessment

#623 Replace dumbProtoMesssage with emptypb.Empty
  api/streams.go
Labels: api

#637 Add medina metrics (Quick Fix)
  service/orchestrator/medina_metrics.json
Labels: service

#638 Extend logging message
  service/assessment/assessment.go
Labels: service/assessment

#639 Update medina_metrics.json
  service/orchestrator/medina_metrics.json
Labels: service

#613 Update Rego policy implementation during Runtime
  .github/labeler.yml
  .vscode/settings.json
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  cli/session_test.go
  go.mod
  go.sum
  internal/testutil/storage.go
  internal/testutil/streams.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
Labels: api, internal, service/assessment, policies, service, service/orchestrator

#627 Fix Azure bootLogging
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
Labels: service

#648 Added orchestrator service option to load external metrics
  service/orchestrator/medina_metrics.json
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
Labels: service/orchestrator

#651 Hotfix for DB username and password using gorm
  .github/labeler.yml
  cmd/engine/engine.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
Labels: cmd/engine, persistence
