Repository clouditor/clouditor, pull requests merged in 2022-06, with the labels that each got.

#721 Fix loginfo
  service/assessment/assessment.go
Labels: service/assessment

#725 Add Ordering in Persistence
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/authorizer_test.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  api/page_token.pb.go
  api/pagination.go
  api/request.go
  api/streams_test.go
  internal/testutil/storage.go
  internal/util/struct.go
  internal/util/struct_test.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/persistence.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/requirements.go
  service/paginate.go
  service/paginate_test.go
Labels: api, internal, service, service/orchestrator, persistence

#732 Implementing `RequirementsSource` in assessment service
  policies/policies.go
  service/assessment/assessment.go
Labels: service/assessment, policies
