Repository clouditor/clouditor, pull requests merged in 2022-08, with the labels that each got.

#774 Providing a serialiser for protobuf message `google.protobuf.Any` in GORM
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer.go
  persistence/gorm/serializer_test.go
  service/assessment/assessment.go
  service/auth_middleware.go
Labels: service/assessment, service, persistence

#779 Remove Write to Standard Output
  persistence/gorm/serializer.go
Labels: persistence

#785 Move Clouditor to Go 1.19
  .github/workflows/build.yml
  go.mod
  internal/auth/pem_test.go
Labels: internal

#788 Sync generated protobuf files
  api/assessment/assessment.pb.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  go.mod
  go.sum
Labels: api

#782 Preparing service ID in discovery
  .vscode/launch.json
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/discovery/discovery.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
  service/orchestrator/orchestrator.go
  service/paginate.go
  service/paginate_test.go
  voc/voc.go
Labels: api, service/assessment, service, service/orchestrator, service/discovery

#790 Clearing cached configuration from assessment when metric has changed
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/page_token.pb.go
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
Labels: api, service/assessment, policies, service/orchestrator

#780 Excluding reflection API from authentication
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/orchestrator/orchestrator.pb.go
  api/page_token.pb.go
  cmd/engine/engine.go
  service/grpc.go
  service/grpc_test.go
Labels: api, cmd/engine, service

#775 Store `MetricConfiguration` in persistence layer
  .vscode/settings.json
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.proto
  clouditor.code-workspace
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/requirements_test.go
  service/paginate_test.go
Labels: api, service, service/orchestrator, persistence
