Repository clouditor/clouditor, pull requests merged in 2022-09, with the labels that each got.

#799 Hotfix for persistence issues
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  go.mod
  go.sum
  persistence/gorm/gorm.go
  service/orchestrator/requirements_test.go
Labels: api, service/orchestrator, persistence

#801 Various Gorm persistence improvements
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  internal/testutil/storage.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/persistence.go
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/paginate_test.go
Labels: api, internal, service, service/orchestrator, persistence

#787 Introducing the concept of a `Catalog`
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  cli/commands/catalog/catalog.go
  cli/commands/cloud/cloud.go
  cli/commands/commands.go
  cli/commands/requirement/requirement_test.go
  cli/commands/service/orchestrator/orchestrator.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session.go
  cli/session_test.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/util/struct_test.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  policies/policies.go
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs.json
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/requirements.go
  service/orchestrator/requirements.json
  service/orchestrator/requirements_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
  service/paginate_test.go
Labels: api, internal, service/assessment, policies, service, service/orchestrator, service/discovery, persistence

#806 Fixed UUIDs
  api/discovery/discovery.go
  internal/util/copy_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/orchestrator_test.go
Labels: api, internal, service/orchestrator
