Repository clouditor/clouditor, pull requests merged in 2022-11, with the labels that each got.

#702 Add check for existing resourceTypes in assessment result
  api/assessment/assessment.go
  api/assessment/assessment_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/orchestrator, blocked

#839 Update Catalog descriptions
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/auth/auth.pb.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
Labels: api, service/orchestrator

#815 Update GetMetricConfiguration description
  api/assessment/metric.go
  api/assessment/metric_test.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/assessment, service/orchestrator

#850 Add cloud service hook
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Labels: service/orchestrator

#859 Add info message to CreateDefaultTargetCloudService
  service/orchestrator/cloud_service.go
Labels: service/orchestrator

#858 Move misleading log message
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
Labels: api, service/orchestrator

#862 Fixed problem with applying CORS configuration
  cmd/engine/engine.go
  rest/rest.go
Labels: cmd/engine

#864 Hotfix: Added missing GHCR.io docker image name
  .github/workflows/release.yml
Labels: cmd/engine

#874 Fix `PermissionDenied` for `listAssessmentResults` in case of `AuthorizationStrategyAllowAll`
  service/authz.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: service, service/orchestrator

#872 Update description for GetControl()
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/orchestrator/openapi.yaml
Labels: api
