Repository clouditor/clouditor, pull requests merged in 2022-12, with the labels that each got.

#888 Switching to `buf` for protobuf generation
  .github/workflows/build.yml
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/auth/auth.pb.go
  api/auth/auth.proto
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/page_token.pb.go
  api/page_token.proto
  buf.gen.yaml
  buf.gotag.gen.yaml
  buf.lock
  buf.openapi.gen.yaml
  buf.yaml
  openapi/orchestrator/openapi.yaml
  proto.go
  third_party/google/api/LICENSE
  third_party/google/api/annotations.proto
  third_party/google/api/http.proto
  third_party/google/protobuf/LICENSE
  third_party/google/protobuf/descriptor.proto
  third_party/google/protobuf/empty.proto
  third_party/google/protobuf/struct.proto
  third_party/google/protobuf/timestamp.proto
  third_party/tagger/LICENSE
  third_party/tagger/tagger.proto
  tools.go
Labels: api

#886 Introducing monitoring status for controls
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: api, internal, service/orchestrator, persistence

#895 Add missing fields to metric configuration
  api/assessment/metric.go
  cmd/engine/engine.go
  policies/operators.rego
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.go
Labels: api, cmd/engine, service/assessment, policies, service/orchestrator

#896 Refactor AssessEvidence response
  cli/commands/tool/tool.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: service/assessment

#908 Refactor StoreAssessmentResult response
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: service/orchestrator
