Repository clouditor/clouditor, pull requests merged in 2022-03, with the labels that each got.

#576 Fixed retrieval of `DiscoveryProviderFlag`
  cmd/engine/engine.go
Labels: cmd/engine

#571 Delete import github.com/fatih/camelcase
  go.mod
  go.sum
  internal/util/string.go
  internal/util/string_test.go
  policies/policies.go
Labels: dependencies, internal, policies

#582 Performance and concurrency improvements in assessment
  api/assessment/metric.go
  policies/policies.go
  service/assessment/assessment.go
  service/assessment/benchmark_test.go
  service/discovery/discovery.go
  service/evidence/evidence_store.go
  service/orchestrator/orchestrator.go
Labels: api, service/assessment, policies, service

#591 Add evidenceID check to assessmentResult.Validate()
  api/evidence/evidence.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/evidence/evidence_store_test.go
Labels: bug, api, service/assessment, service

#586 Separate grpc calls
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/discovery/discovery.go
Labels: service/assessment, service

#593 Fixed benchmark
  service/assessment/benchmark_test.go
Labels: service/assessment

#594 Small performance gain
  go.mod
  policies/policies.go
  service/assessment/assessment.go
Labels: service/assessment, policies

#605 TLS support for gRPC clients
  api/authorizer.go
  cli/session.go
  service/assessment/assessment.go
  service/discovery/discovery.go
Labels: api, service/assessment, service
