Repository clouditor/clouditor, pull requests merged in 2022-07, with the labels that each got.

#734 Fixed flakey discovery test
  service/discovery/discovery_test.go
Labels: service/discovery

#746 Fix GW HTTP Options
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
Labels: api

#751 Moved client/auth/azure import from k8s to discovery package
  service/discovery/discovery.go
  service/discovery/k8s/k8s.go
Labels: service, service/discovery

#749 Update Azure network tests
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
Labels: service

#753 Fixed typo in error message of -> or
  policies/rego.go
Labels: policies

#740 Add property interval to metric
  api/assessment/assessment.pb.gw.go
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/orchestrator/openapi.yaml
Labels: api

#754 Fixes all ports to be `uint16`
  api/authorizer_test.go
  cli/commands/cloud/cloud_test.go
  cli/commands/login/login_test.go
  cmd/engine/engine.go
  internal/testutil/auth.go
  internal/testutil/clitest/cli.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  rest/rest.go
  rest/rest_test.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/auth_middleware_test.go
  service/discovery/azure/arm_template.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/k8s/network.go
  service/discovery/k8s/network_test.go
  voc/automatic_updates.go
  voc/backup.go
  voc/network_service.go
Labels: api, cmd/engine, internal, service/assessment, service, persistence

#739 Update Azure SDK
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  go.mod
  go.sum
  internal/util/copy_test.go
  internal/util/deref.go
  internal/util/deref_test.go
  internal/util/string_test.go
  internal/util/time.go
  internal/util/time_test.go
  service/assessment/assessment_test.go
  service/discovery/azure/arm_template.go
  service/discovery/azure/arm_template_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: api, internal, service/assessment, service, service/discovery

#765 Upgrading Azure modules
  go.mod
  go.sum
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

#766 Delete duplicate logging
  service/discovery/azure/storage.go
Labels: service

#767 Add discoverer component name
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service
