Repository clouditor/clouditor, pull requests merged in 2023-11, with the labels that each got.

#1228 Update demo catalog with Codyze metrics
  catalogs/demo_catalog.json
  go.sum
  policies/bundles/ApprovedCommitAuthor/data.json
  policies/bundles/ApprovedCommitAuthor/metric.rego
  policies/bundles/CodeSignoff/data.json
  policies/bundles/CodeSignoff/metric.rego
  policies/bundles/SignedCommits/data.json
  policies/bundles/SignedCommits/metric.rego
  policies/bundles/SignedSignoff/data.json
  policies/bundles/SignedSignoff/metric.rego
  policies/bundles/TlsCipherSuites/data.json
  policies/bundles/TlsCipherSuites/metric.rego
  policies/bundles/TlsDHGroups/data.json
  policies/bundles/TlsDHGroups/metric.rego
  policies/bundles/TlsSignatureAlgorithms/data.json
  policies/bundles/TlsSignatureAlgorithms/metric.rego
  service/orchestrator/metrics.json
Labels: policies, service/orchestrator

#1243 Modified metrics.json
  service/orchestrator/metrics.json
Labels: service/orchestrator

#1244 Allow to specify log level on args
  cmd/engine/engine.go
Labels: cmd/engine

#1245 Fix for failing test
  cmd/engine/engine_test.go
Labels: cmd/engine

#1246 Transport Encryption -> Storage Encryption in AtRestEncryptionAlgorithm
  service/orchestrator/metrics.json
Labels: service/orchestrator

#1259 Azure Discovery: Add CosmosDB
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/database_service.go
  voc/database_storage.go
Labels: service, voc

#1266 Add table storage and backup
  api/discovery/discovery.go
  cmd/engine/engine.go
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
  voc/object_storage.go
Labels: api, cmd/engine, service, voc

#1270 Add redundancy to WebApp and Function
  service/discovery/azure/compute.go
  voc/database_storage.go
  voc/function.go
  voc/web_app.go
Labels: service, voc

#1271 Discovery: Add Azure service fabric
  api/discovery/discovery.go
  cmd/engine/engine.go
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/service_fabric.go
  service/discovery/discovery.go
  voc/service_fabric_cluster.go
Labels: api, cmd/engine, service, service/discovery, voc

#1272 Add more and harmonize current public access sec feautures
  cmd/engine/engine.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/key_vault.go
  service/discovery/azure/storage.go
  voc/database_storage.go
  voc/function.go
  voc/key_vault.go
  voc/object_storage_service.go
  voc/web_app.go
Labels: cmd/engine, service, voc
