Repository clouditor/clouditor, pull requests merged in 2023-07, with the labels that each got.

#1144 Extend discovery based on Medina issues
  api/orchestrator/orchestrator.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  voc/virtual_machine.go
Labels: api, service, voc

#1151 Stopping gRPC server when hitting ctrl+c
  api/streams.go
  cmd/engine/engine.go
  service/assessment/assessment.go
  service/discovery/discovery.go
Labels: api, cmd/engine, service/assessment, service/discovery

#1149 Add statistics endpoint
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  go.mod
  go.sum
  openapi/orchestrator/openapi.yaml
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
Labels: api, service/orchestrator

#1148 Add metadata to cloud service/catalog
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  catalogs/.gitignore
  catalogs/demo_catalog.json
  internal/testdata/catalogs/test_catalog.json
  internal/testdata/empty_catalogs/.gitkeep
  internal/util/filesystem_test.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
Labels: api, internal, service/orchestrator

#1155 Fix networking discovery
  api/discovery/discovery.go
  internal/constants/constants.go
  policies/bundles/BootLoggingOutput/data.json
  policies/bundles/BootLoggingOutput/metric.rego
  policies/bundles/L3FirewallEnabled/metric.rego
  policies/bundles/L3FirewallRestrictedPorts/metric.rego
  policies/bundles/OSLoggingOutput/data.json
  policies/bundles/OSLoggingOutput/metric.rego
  policies/bundles/TransportEncryptionProtocol/data.json
  policies/bundles/TransportEncryptionProtocol/input.json
  policies/bundles/TransportEncryptionProtocol/metric.rego
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: api, internal, policies, service

#1162 Add context to hooks
  api/assessment/assessment.go
  api/evidence/evidence.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api, service/assessment, service

#1163 Update save metrics in loadMetrics()
  service/orchestrator/metrics.go
Labels: service/orchestrator

#1164 Fix Save() in UpdateMetricConfiguration()
  service/orchestrator/metrics.go
Labels: service/orchestrator

#1077 Add authorization check to certificate endpoints
  api/errors.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testdata/testdata.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  server/grpc.go
  service/evidence/evidence_store_test.go
  service/orchestrator/certificates.go
  service/orchestrator/certificates_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/validate.go
Labels: api, internal, service, service/orchestrator, persistence

#1165 Added missing context in Orchestrator hook
  service/assessment/benchmark_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/toe_test.go
Labels: service/assessment, policies, service, service/orchestrator

#1147 Add Azure SQL discovery
  go.mod
  go.sum
  service/discovery/README.md
  service/discovery/azure/azure.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/database_service.go
Labels: service, service/discovery, voc

#1170 Use ListAllPaginated in metrics interface
  service/assessment/assessment.go
Labels: service/assessment
