Repository clouditor/clouditor, pull requests merged in 2023-04, with the labels that each got.

#1043 Added a test function to create a mocked `AuthorizationStrategy`
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  clouditor.code-workspace
  internal/testutil/servicetest/authz.go
  internal/testutil/servicetest/authz_test.go
  internal/testutil/servicetest/evidencetest/evidence.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory_test.go
  service/authz.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Labels: internal, service, service/orchestrator, persistence

#1041 Fix GetAssessmentResult authz check
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
Labels: api, service/orchestrator

#1039 Embed filter fields in REQs into Filter messages
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.proto
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery.go
  cli/commands/service/discovery/discovery_test.go
  openapi/discovery/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, service/orchestrator, service/discovery

#1054 Added Discovery status to show Azure and AWS discovery differences
  service/discovery/README.md
Labels: documentation, service/discovery

#1062 Various test improvements
  api/authorizer_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  internal/testutil/auth.go
  internal/testutil/clitest/cli.go
  internal/testutil/servicetest/authz.go
  policies/rego_test.go
  service/auth_middleware_test.go
  service/authz_test.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Labels: api, internal, policies, service, service/orchestrator, service/discovery

#1061 Fixing various issues in the `Discovery` service
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/discovery/discovery_grpc.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cli/commands/service/discovery/discovery.go
  internal/api/request.go
  openapi/discovery/openapi.yaml
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: api, internal, service/discovery

#853 Add evaluation
  .gitignore
  api/evaluation/evaluation.pb.go
  api/evaluation/evaluation.pb.gw.go
  api/evaluation/evaluation.pb.validate.go
  api/evaluation/evaluation.proto
  api/evaluation/evaluation_grpc.pb.go
  clouditor.code-workspace
  cmd/engine/engine.go
  go.sum
  internal/testdata/testdata.go
  internal/testutil/prototest/prototest.pb.go
  internal/testutil/prototest/prototest.pb.validate.go
  internal/testutil/prototest/prototest.proto
  internal/testutil/servicetest/evaluationtest/evaluation.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  internal/util/struct.go
  internal/util/struct_test.go
  openapi/evaluation/openapi.yaml
  persistence/gorm/gorm.go
  proto.go
  server/grpc.go
  server/rest/rest.go
  service/evaluation/bufconn_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/demo_catalogs.json
  service/orchestrator/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: cmd/engine, internal, service, service/orchestrator, persistence, api/evaluation

#1076 Add authorization to AssessEvidence endpoint
  api/assessment/assessment.go
  internal/logging/logging_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: api, internal, service/assessment

#1084 Upgraded JWT library to `v5`
  go.mod
  go.sum
  internal/auth/key_loader.go
  server/auth_middleware.go
  service/authorization.go
  service/authorization_test.go
Labels: internal, service
