Repository clouditor/clouditor, pull requests merged in 2023-01, with the labels that each got.

#910 Overhaul of `ControlMonitoringStatus` API
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/persistence.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: api, internal, service/orchestrator, persistence

#921 Hotfix for wrong HTTP method for RemoveControlFromScope
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Labels: api

#902 Add more validation checks
  internal/testutil/auth.go
  internal/testutil/metrictest/metric.rego
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  persistence/inmemory/inmemory_test.go
  service/discovery/discovery_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics.json
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Labels: internal, service/orchestrator, service/discovery, persistence

#922 Consolidation of test variables
  .vscode/settings.json
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment_test.go
  api/assessment/metric_test.go
  api/auth/auth.pb.go
  api/auth/auth.pb.validate.go
  api/auth/auth.proto
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_test.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/util/copy_test.go
  internal/util/struct_test.go
  persistence/gorm/gorm.go
  persistence/gorm/gorm_test.go
  persistence/gorm/serializer_test.go
  persistence/inmemory/inmemory_test.go
  service/assessment/assessment_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Labels: api, internal, service/assessment, service/orchestrator, persistence

#937 Fix method responses
  CONTRIBUTING.md
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
Labels: api, service/assessment, service, service/orchestrator, service/discovery

#941 Fixing `MonitoringStatus`
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
  service/orchestrator/toe_test.go
Labels: api, service/orchestrator

#940 Store `AssessmentResult` in persistence layer
  .vscode/settings.json
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.gw.go
  clouditor.code-workspace
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/assessment/openapi.yaml
  persistence/gorm/gorm.go
  service/assessment/assessment.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
  service/validate.go
Labels: api, internal, service/assessment, service, service/orchestrator, persistence

#768 Add Evidences to Storage
  .vscode/settings.json
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/evidence/evidence_store_grpc.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  cmd/engine/engine.go
  internal/testdata/testdata.go
  openapi/evidence/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/serializer.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api, cmd/engine, internal, service, persistence
