Repository clouditor/clouditor, pull requests merged in 2023-02, with the labels that each got.

#945 Fix CreateTargetOfEvaluation
  service/orchestrator/toe.go
Labels: service/orchestrator

#953 Hotfix for sudden golang-ci-lint error
  internal/util/copy.go
  internal/util/copy_test.go
Labels: internal

#957 Hofix: Use `=` operator instead of `==`
  service/orchestrator/assessment_results.go
Labels: service/orchestrator

#950 Scoping azure list discovery to resource group
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/storage.go
Labels: service

#954 Add metadata endpoint
  .dockerignore
  .github/workflows/build.yml
  .vscode/launch.json
  .vscode/tasks.json
  Dockerfile
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/runtime/runtime.go
  api/runtime/runtime.pb.go
  api/runtime/runtime.pb.validate.go
  api/runtime/runtime.proto
  api/runtime/runtime_test.go
  cmd/engine/engine.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/runtime.go
Labels: api, cmd/engine, service, service/orchestrator

#963 Add resource_group to StartDiscoveryRequest
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  openapi/discovery/openapi.yaml
  service/discovery/discovery.go
Labels: api, service/discovery

#964 Add better debugging info
  service/assessment/assessment.go
  service/evidence/evidence_store.go
  service/orchestrator/assessment_results.go
Labels: service/assessment, service, service/orchestrator

#966 Update metrics.json file
  policies/rego_test.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.json
Labels: service/assessment, policies, service/orchestrator

#971 Add policy operator isIn
  api/assessment/metric.pb.go
  api/assessment/metric.pb.validate.go
  api/assessment/metric.proto
  policies/bundles/AnomalyDetectionOutput/data.json
  policies/bundles/AnomalyDetectionOutput/metric.rego
  policies/bundles/BootLoggingOutput/data.json
  policies/bundles/BootLoggingOutput/metric.rego
  policies/bundles/MalwareProtectionOutput/data.json
  policies/bundles/MalwareProtectionOutput/metric.rego
  policies/bundles/OSLoggingOutput/data.json
  policies/bundles/OSLoggingOutput/metric.rego
  policies/bundles/TLSVersion/data.json
  policies/bundles/TLSVersion/metric.rego
  policies/operators.rego
Labels: api, policies

#956 Add assurance level property for control
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/session_test.go
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs.json
  service/orchestrator/catalogs_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
  service/paginate.go
  service/validate.go
Labels: api, internal, service, service/orchestrator

#969 More debugging info for Store*/Create*/Update*/Remove* methods
  api/assessment/assessment.go
  api/evidence/evidence.go
  api/orchestrator/orchestrator.go
  api/orchestrator/orchestrator_test.go
  api/request.go
  api/streams.go
  api/streams_test.go
  internal/api/request.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/util/deref.go
  persistence/gorm/serializer.go
  service/assessment/assessment.go
  service/authz.go
  service/authz_test.go
  service/evidence/evidence_store.go
  service/orchestrator/assessment_results.go
  service/orchestrator/catalogs.go
  service/orchestrator/cloud_service.go
  service/orchestrator/metrics.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
  service/validate.go
Labels: api, internal, service/assessment, service, service/orchestrator, persistence

#977 Re-starting old stream channels instead of re-creating them
  api/streams.go
  api/streams_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Labels: api, internal

#976 Added `latest_by_resource_id` flag to `ListAssessmentResultsRequest`
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  internal/testutil/storage.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/persistence.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, internal, service/orchestrator, persistence

#981 Remove empty from ListControlsInScopeResponse validation rule
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  service/orchestrator/toe_test.go
Labels: api, service/orchestrator

#984 Fixed some Deepsource issues
  cli/commands/cloud/cloud_test.go
  policies/policies_test.go
  service/discovery/aws/storage_test.go
Labels: policies, service
