Repository clouditor/clouditor, pull requests merged in 2023-03, with the labels that each got.

#986 Update comment
  api/assessment/assessment.pb.go
  openapi/assessment/openapi.yaml
  openapi/orchestrator/openapi.yaml
  service/orchestrator/catalogs_test.go
Labels: api, service/orchestrator

#990 Expand latest_by_resource_id to include one per metric
  api/assessment/assessment.proto
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, internal, service/orchestrator

#988 Add parent controls to controls_in_scope at ToE creation
  internal/testdata/testdata.go
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/catalogs.go
  service/orchestrator/catalogs_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: internal, service/orchestrator

#979 Removed `ListAssessmentResults` from assessment
  api/assessment/assessment.pb.go
  api/assessment/assessment.pb.gw.go
  api/assessment/assessment.pb.validate.go
  api/assessment/assessment.proto
  api/assessment/assessment_grpc.pb.go
  api/assessment/assessment_test.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  api/orchestrator/orchestrator_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/service/assessment/assessment.go
  cli/commands/service/assessment/assessment_test.go
  cli/commands/service/orchestrator/orchestrator.go
  cli/commands/service/orchestrator/orchestrator_test.go
  openapi/assessment/openapi.yaml
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
  service/paginate_test.go
Labels: api, service/assessment, service, service/orchestrator

#998 Change comment of Orchestrators `ListAssessmentResults`
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.proto
  openapi/orchestrator/openapi.yaml
Labels: api

#980 Persist discovered resource in discovery service
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/discovery/discovery.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  cli/commands/service/discovery/discovery.go
  cmd/engine/engine.go
  openapi/discovery/openapi.yaml
  persistence/gorm/gorm.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: api, cmd/engine, service/discovery, persistence

#1009 Enhance number of assurance_levels
  internal/testutil/orchestratortest/orchestrator.go
  service/orchestrator/toe.go
  service/orchestrator/toe_test.go
Labels: internal, service/orchestrator

#997 Retrieve allow all authorisation decision from JWT
  internal/testutil/auth.go
  service/authz.go
  service/authz_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/toe_test.go
Labels: internal, service, service/orchestrator

#1008 Add Resource Group Argument to Engine
  cmd/engine/engine.go
Labels: cmd/engine

#1013 Upgraded to newest github.com/oxisto/oauth2go
  go.mod
  go.sum
  internal/testutil/auth.go
  rest/rest.go
  service/auth_middleware.go
Labels: internal, service

#1024 Adding nil check for context to `AllowedCloudServices` of `AuthorizationStrategyJWT`
  service/authz.go
  service/authz_test.go
Labels: service

#999 Add filter options to `ListEvidences`
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.go
  api/discovery/discovery.pb.gw.go
  api/discovery/discovery.pb.validate.go
  api/evidence/evidence_store.pb.go
  api/evidence/evidence_store.pb.gw.go
  api/evidence/evidence_store.pb.validate.go
  api/evidence/evidence_store.proto
  api/orchestrator/orchestrator.pb.gw.go
  internal/testdata/testdata.go
  internal/testutil/evidencetest/evidence.go
  openapi/evidence/openapi.yaml
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
Labels: api, internal, service

#1026 Add get request for assessment results
  api/orchestrator/orchestrator.pb.go
  api/orchestrator/orchestrator.pb.gw.go
  api/orchestrator/orchestrator.pb.validate.go
  api/orchestrator/orchestrator.proto
  api/orchestrator/orchestrator_grpc.pb.go
  internal/testutil/orchestratortest/orchestrator.go
  openapi/orchestrator/openapi.yaml
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: api, internal, service/orchestrator
