Repository clouditor/clouditor, pull requests merged in 2023-05, with the labels that each got.

#1055 New `RPCConnection` type to bundle all gRPC connection related information
  api/authorizer.go
  api/connection.go
  cli/session.go
  cmd/engine/engine_test.go
  server/auth_middleware_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/bufconn_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evaluation/bufconn_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/service.go
Labels: api, cmd/engine, service/assessment, service, service/discovery

#1105 Get context from stream for authorization
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results.go
  service/orchestrator/assessment_results_test.go
Labels: service, service/orchestrator

#1107 Fix assessment crash when assessing corrupt evidence due to metrics cache
  api/evidence/evidence.go
  api/evidence/evidence_test.go
  internal/testutil/servicetest/evidencetest/evidence.go
  policies/rego.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
Labels: api, internal, service/assessment, policies

#1118 Update mock naming
  api/assessment/assessment_test.go
  api/assessment/metric_test.go
  api/evidence/evidence_test.go
  api/orchestrator/orchestrator_test.go
  api/streams_test.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  internal/logging/logging_test.go
  internal/testdata/testdata.go
  internal/testutil/servicetest/authz_test.go
  internal/testutil/servicetest/evaluationtest/evaluation.go
  internal/testutil/servicetest/evidencetest/evidence.go
  internal/testutil/servicetest/orchestratortest/orchestrator.go
  persistence/gorm/gorm_test.go
  persistence/inmemory/inmemory_test.go
  policies/rego_test.go
  service/assessment/assessment_test.go
  service/authorization_test.go
  service/discovery/aws/compute_test.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_test.go
  service/discovery/azure/storage_test.go
  service/discovery/discovery_test.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage_test.go
  service/evaluation/evaluation_test.go
  service/evidence/evidence_store_test.go
  service/orchestrator/assessment_results_test.go
  service/orchestrator/cloud_service_test.go
  service/orchestrator/metrics_test.go
  service/orchestrator/orchestrator_test.go
  service/orchestrator/toe_test.go
Labels: api, internal, service/assessment, policies, service, service/orchestrator, service/discovery, persistence
