Repository clouditor/clouditor, pull requests merged in 2024-02, with the labels that each got.

#1322 Implementation of AWS discoverer with new protobuf ontology
  README.md
  api/discovery/discovery.go
  api/ontology/ontology.go
  buf.lock
  clouditor.code-workspace
  go.mod
  policies/rego.go
  service/discovery/aws/aws.go
  service/discovery/aws/aws_test.go
  service/discovery/aws/compute.go
  service/discovery/aws/compute_test.go
  service/discovery/aws/storage.go
  service/discovery/aws/storage_test.go
Labels: api, policies, service

#1329 Migrating K8S to new ontology objects
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/input/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  service/discovery/k8s/compute.go
  service/discovery/k8s/compute_test.go
  service/discovery/k8s/k8s.go
  service/discovery/k8s/network.go
  service/discovery/k8s/network_test.go
  service/discovery/k8s/storage.go
  service/discovery/k8s/storage_test.go
Labels: api, internal, service

#1333 Harmonize Azure resource ID to all lowercase
  clouditor.code-workspace
  internal/testdata/testdata.go
  service/discovery/azure/azure_properties.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/backup_handle.go
  service/discovery/azure/backup_test.go
  service/discovery/azure/compute_handle.go
  service/discovery/azure/compute_properties.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network_handle.go
  service/discovery/azure/network_test.go
  service/discovery/azure/resource_group_handle.go
  service/discovery/azure/resource_group_test.go
  service/discovery/azure/storage_discover.go
  service/discovery/azure/storage_handle.go
  service/discovery/azure/storage_test.go
Labels: internal, service

#1334 Fix "deny all" principle
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/discovery/experimental.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/constants/constants.go
  openapi/assessment/openapi.yaml
  openapi/discovery/openapi.yaml
  openapi/evaluation/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  policies/bundles/AutomaticUpdatesEnabled/data.json
  policies/bundles/AutomaticUpdatesEnabled/metric.rego
  policies/bundles/AutomaticUpdatesInterval/metric.rego
  policies/bundles/CustomerKeyEncryption/data.json
  policies/bundles/CustomerKeyEncryption/metric.rego
  policies/bundles/ObjectStorageContainerPublicAccessDisabled/data.json
  policies/bundles/ObjectStorageContainerPublicAccessDisabled/metric.rego
  policies/rego_test.go
  service/assessment/assessment_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  service/orchestrator/metrics.json
  voc/anomaly_detection.go
  voc/block_storage.go
  voc/database_service.go
  voc/object_storage.go
  voc/voc.go
Labels: api, internal, service/assessment, policies, service, service/orchestrator, voc, api/evaluation

#1352 Update info log 'Adding X'
  service/discovery/azure/compute_discover.go
  service/discovery/azure/network_discover.go
Labels: service

#1356 Extend-Discovery: Fix azure lowercase issues
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  service/discovery/azure/resource_group.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

#1354 Restore code necessary for key vault metric
  service/discovery/azure/storage.go
Labels: service

#1344 Fix Redundancy object (voc)
  policies/bundles/TransportEncryptionEnabled/metric.rego
  policies/bundles/TransportEncryptionEnforced/metric.rego
  policies/bundles/TransportEncryptionProtocol/metric.rego
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/database_storage.go
  voc/redundancy.go
Labels: policies, service, voc

#1335 Add Azure VM Scale Set
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service
