Repository clouditor/clouditor, pull requests merged in 2024-05, with the labels that each got.

#1459 Fix micro service errors
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/discovery/experimental.pb.go
  api/evaluation/evaluation.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/ontology/ontology.pb.go
  api/orchestrator/orchestrator.pb.go
  api/page_token.pb.go
  api/runtime/runtime.pb.go
  cmd/evidence_store/evidence_store.go
  server/commands/assessment/assessment.go
  server/commands/discovery/discovery.go
  server/commands/evaluation/evaluation.go
  server/commands/evidence/evidence_store.go
  server/commands/orchestrator/orchestrator.go
  server/commands/standalone/standalone.go
Labels: api, api/evaluation

#1461 Fixed `WithServices`
  api/assessment/assessment.pb.go
  api/assessment/metric.pb.go
  api/discovery/discovery.pb.go
  api/discovery/experimental.pb.go
  api/evaluation/evaluation.pb.go
  api/evidence/evidence.pb.go
  api/evidence/evidence_store.pb.go
  api/ontology/ontology.pb.go
  api/orchestrator/orchestrator.pb.go
  api/page_token.pb.go
  api/runtime/runtime.pb.go
  launcher/launcher.go
  server/grpc.go
Labels: api, api/evaluation

#1460 Fix several errors
  api/assessment/assessment.proto
  api/ontology/ontology.go
  api/ontology/ontology_test.go
  internal/util/string.go
  server/commands/assessment/assessment.go
  server/commands/discovery/discovery.go
  server/commands/standalone/standalone.go
  server/grpc.go
  service/discovery/k8s/compute.go
  service/discovery/k8s/network.go
  service/discovery/k8s/storage.go
Labels: api, internal, service

#1466 Fix AssessEvidence error log
  service/assessment/assessment.go
Labels: service/assessment

#1478 Add configurable evidence collector tool id
  api/assessment/assessment.pb.gw.go
  api/discovery/discovery.pb.gw.go
  api/discovery/experimental.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/config/config.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: api, internal, service/discovery, api/evaluation
