Repository clouditor/clouditor, pull requests merged in 2024-10, with the labels that each got.

#1555 Ontology Update
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  api/discovery/experimental.pb.go
  api/discovery/experimental.proto
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  api/ontology/service.pb.go
  api/ontology/service.pb.gw.go
  api/ontology/service.proto
  api/ontology/service_grpc.pb.go
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  openapi/discovery/openapi.yaml
  openapi/ontology/openapi.yaml
Labels: api, internal

#1561 Update proto generation to use deterministic field numbers
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  proto.go
Labels: api

#1562 Ontology update for code related entitites
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  openapi/ontology/openapi.yaml
Labels: api, internal

#1564 Added support for extended non-compliance-details
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  openapi/orchestrator/openapi.yaml
  policies/bundles/ApplicationSecurity/StrongCryptographicHash/data.json
  policies/bundles/ApplicationSecurity/StrongCryptographicHash/input.json
  policies/bundles/ApplicationSecurity/StrongCryptographicHash/metric.rego
  policies/operators.rego
  policies/policies.go
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/orchestrator/metrics.json
Labels: api, service/assessment, policies, service/orchestrator

#1566 Fixed bug in evaluation
  service/evaluation/evaluation.go
Labels: bug, service
