Repository clouditor/clouditor, pull requests merged in 2024-04, with the labels that each got.

#1391 Extend Discovery: Fix public network access
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/key_vault.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

#1408 Extend discovery: Fix public access of storage accounts
  service/discovery/azure/storage.go
Labels: service

#1407 Change metric interval from int64 to duration
  api/assessment/metric.pb.go
  api/assessment/metric.proto
  openapi/orchestrator/openapi.yaml
  persistence/gorm/gorm.go
  persistence/gorm/serializer.go
  persistence/gorm/serializer_test.go
Labels: api, persistence

#1413 Prepare extra discoverer for the conformance of a CSAF trusted provider
  clouditor.code-workspace
  go.mod
  go.sum
  internal/testutil/servicetest/discoverytest/csaf/providertest/providertest.go
  service/discovery/extra/csaf/discovery.go
  service/discovery/extra/csaf/discovery_test.go
Labels: internal, service

#1423 Update WebApp to ontology.Function
  service/discovery/azure/compute_handle.go
  service/discovery/azure/compute_test.go
Labels: service

#1422 Introducing assessment of related resource (v2)
  api/assessment/assessment.pb.go
  api/assessment/assessment.proto
  api/evidence/evidence.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  policies/bundles/VirtualMachineDiskEncryptionEnabled/data.json
  policies/bundles/VirtualMachineDiskEncryptionEnabled/input.json
  policies/bundles/VirtualMachineDiskEncryptionEnabled/metric.rego
  policies/policies.go
  policies/policies_test.go
  policies/rego.go
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/waiting_request.go
  service/assessment/waiting_request_test.go
  service/discovery/discovery_test.go
  service/orchestrator/metrics.json
Labels: api, service/assessment, policies, service/orchestrator, service/discovery

#1424 Update ontology with CSAF security advisory concepts, generate new proto
  api/ontology/ontology.proto
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
Labels: api, internal

#1427 Add discovery for Security Advisory Service (CSAF)
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/testutil/servicetest/discoverytest/csaf/providertest/indextxt.go
  internal/testutil/servicetest/discoverytest/csaf/providertest/providertest.go
  service/discovery/extra/csaf/discovery.go
  service/discovery/extra/csaf/discovery_test.go
  service/discovery/extra/csaf/provider_discovery.go
  service/discovery/extra/csaf/provider_discovery_test.go
  service/discovery/extra/csaf/provider_properties.go
  service/discovery/extra/csaf/provider_properties_test.go
Labels: api, internal, service

#1429 Add discovery for CSAF advisory documents
  api/ontology/ontology.proto
  clouditor.code-workspace
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/document_properties.go
  service/discovery/extra/csaf/provider_discover.go
  service/discovery/extra/csaf/provider_discover_test.go
Labels: api, service

#1431 Added ontology entities for a document location
  api/ontology/ontology.pb.go
  api/ontology/ontology.proto
  internal/ontology/urn_webprotege_ontology_e4316a28-d966-4499-bd93-6be721055117.owx
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/document_properties.go
  service/discovery/extra/csaf/provider_discover.go
  service/discovery/extra/csaf/provider_properties.go
  service/discovery/extra/csaf/provider_properties_test.go
Labels: api, internal, service

#1433 Add more tests for CSAF discovery
  service/discovery/extra/csaf/document_properties.go
  service/discovery/extra/csaf/document_properties_test.go
  service/discovery/extra/csaf/provider_discover_test.go
  service/discovery/extra/csaf/provider_properties_test.go
Labels: service

#1432 Added more document properties in CSAF discovery
  clouditor.code-workspace
  internal/constants/constants.go
  service/discovery/extra/csaf/document_discover.go
  service/discovery/extra/csaf/document_properties.go
  service/discovery/extra/csaf/document_properties_test.go
Labels: internal, service

#1436 Use enumerate method to discover all PMDs of a CSAF domain
  go.mod
  go.sum
  service/discovery/extra/csaf/provider_discover.go
Labels: service

#1428 Add metrics to check CSAF documents
  policies/bundles/CSAF/DocumentCSAFContentValid/data.json
  policies/bundles/CSAF/DocumentCSAFContentValid/input.json
  policies/bundles/CSAF/DocumentCSAFContentValid/metric.rego
  policies/bundles/CSAF/DocumentCSAFFilenameValid/data.json
  policies/bundles/CSAF/DocumentCSAFFilenameValid/input.json
  policies/bundles/CSAF/DocumentCSAFFilenameValid/metric.rego
  service/discovery/extra/csaf/document_discover.go
  service/orchestrator/metrics.json
Labels: policies, service, service/orchestrator, csaf

#1437 Adding CSAF provider discovery to `discovery.go`
  api/discovery/discovery.pb.go
  api/discovery/discovery.proto
  clouditor.code-workspace
  cmd/engine/engine.go
  openapi/discovery/openapi.yaml
  service/discovery/discovery.go
  service/discovery/discovery_test.go
Labels: api, cmd/engine, service/discovery, csaf

#1448 CSAF: Add metric for Public OpenPGP Key (Requirement 20)
  policies/bundles/CSAF/SecurityAdvisoryServicePublicOpenGPG/data.json
  policies/bundles/CSAF/SecurityAdvisoryServicePublicOpenGPG/input.json
  policies/bundles/CSAF/SecurityAdvisoryServicePublicOpenGPG/metric.rego
  service/discovery/extra/csaf/keys_discover.go
  service/discovery/extra/csaf/provider_discover.go
Labels: policies

#1390 Add `cmd` binaries for all micro services for v2
  .vscode/launch.json
  api/discovery/discovery.go
  cli/commands/assessmentresult/assessment_result_test.go
  cli/commands/cloud/cloud_test.go
  cli/commands/evidence/evidence_test.go
  cli/commands/metric/metric_test.go
  cli/commands/resource/resource_test.go
  cli/commands/service/discovery/discovery_test.go
  cli/commands/service/orchestrator/orchestrator_test.go
  cli/commands/tool/tool_test.go
  cli/session_test.go
  clouditor.code-workspace
  cmd/assessment/assessment.go
  cmd/discovery/discovery.go
  cmd/engine/engine.go
  cmd/engine/engine_test.go
  cmd/evaluation/evaluation.go
  cmd/evidence_store/evidence_store.go
  cmd/orchestrator/orchestrator.go
  internal/config/config.go
  internal/config/config_test.go
  launcher/launcher.go
  launcher/launcher_test.go
  launcher/spec.go
  server/commands/assessment/assessment.go
  server/commands/commands.go
  server/commands/discovery/discovery.go
  server/commands/evaluation/evaluation.go
  server/commands/evidence/evidence_store.go
  server/commands/orchestrator/orchestrator.go
  server/commands/standalone/standalone.go
  server/grpc.go
  server/grpc_test.go
  server/rest/rest.go
  server/rest/rest_integration_test.go
  server/rest/rest_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/authorization_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/discovery/extra/csaf/discovery.go
  service/discovery/extra/csaf/discovery_test.go
  service/discovery/extra/csaf/document_discover_test.go
  service/discovery/extra/csaf/document_properties_test.go
  service/evaluation/evaluation.go
  service/evaluation/evaluation_test.go
  service/evidence/evidence_store.go
  service/evidence/evidence_store_test.go
  service/orchestrator/orchestrator.go
  service/orchestrator/orchestrator_test.go
  service/service.go
Labels: api, cmd/engine, internal, service/assessment, service, service/orchestrator, service/discovery

#1449 CSAF: Extend `metrics.json` and `csaf.json` to include REQs 18-20
  catalogs/csaf.json
  policies/bundles/CSAF/SecurityAdvisoryServicePublicOpenPGPKey/data.json
  policies/bundles/CSAF/SecurityAdvisoryServicePublicOpenPGPKey/input.json
  policies/bundles/CSAF/SecurityAdvisoryServicePublicOpenPGPKey/metric.rego
  service/orchestrator/metrics.json
Labels: policies, service/orchestrator
