Repository clouditor/clouditor, pull requests merged in 2024-03, with the labels that each got.

#1357 Extend discovery: Fix web app redundancy
  service/discovery/azure/app_service_fake_test.go
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service

#1358 Extend discovery: Enhance web app public access
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service

#1366 Fix VMSS bugs
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service

#1367 Extend Discovery: Add NSGs
  api/discovery/discovery.go
  service/discovery/azure/network.go
  service/discovery/azure/network_test.go
  voc/network_interface.go
  voc/network_security_group.go
  voc/related.go
Labels: api, service, voc

#1376 Add Diagnostic Settings information to Storage Resources
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/service_fabric.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/compute.go
  voc/storage.go
  voc/storage_service.go
Labels: service, voc

#1381 Add check 'interval > 0' to AutomaticUpdatesEnabled
  policies/bundles/AutomaticUpdatesInterval/metric.rego
Labels: policies

#1386 Fix VM automatic update
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
Labels: service

#1385 Fix WebApp
  service/discovery/azure/azure.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/key_vault.go
  service/discovery/azure/service_fabric.go
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
Labels: service

#1388 Extend Discovery: Fix Key Vault
  service/discovery/azure/compute.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/key_vault.go
  service/discovery/azure/key_vault_test.go
Labels: service

#1396 Extend discovery: Fix byok
  service/discovery/azure/storage.go
  service/discovery/azure/storage_test.go
  voc/storage_service.go
Labels: service, voc
