Repository clouditor/clouditor, pull requests merged in 2025-03, with the labels that each got.

#1649 [Azure] Add ML workspace discovery
  go.mod
  go.sum
  service/discovery/azure/azure.go
  service/discovery/azure/azure_clients.go
  service/discovery/azure/azure_properties.go
  service/discovery/azure/azure_test.go
  service/discovery/azure/backup_test.go
  service/discovery/azure/compute_handle.go
  service/discovery/azure/compute_properties.go
  service/discovery/azure/compute_test.go
  service/discovery/azure/machine_learning_discovery.go
  service/discovery/azure/machine_learning_discovery_test.go
  service/discovery/azure/machine_learning_handle.go
  service/discovery/azure/machine_learning_handle_test.go
  service/discovery/azure/machine_learning_properties.go
  service/discovery/azure/machine_learning_properties_test.go
  service/discovery/azure/resource_group_test.go
  service/discovery/azure/storage_test.go
Labels: api, service

#1661 Fix linter error
  .github/workflows/build.yml
  go.mod
Labels: api

#1650 [REST] Update the public URL of the embedded OAuth2 server
  server/rest/rest.go
Labels: api

#1662 [Discovery] Migrate from v2 to v3 OpenStack BlockStorage
  internal/testutil/servicetest/discoverytest/openstacktest/openstack_storage.go
  service/discovery/openstack/openstack.go
  service/discovery/openstack/openstack_properties.go
  service/discovery/openstack/openstack_test.go
  service/discovery/openstack/storage_discover.go
  service/discovery/openstack/storage_handle.go
  service/discovery/openstack/storage_handle_test.go
  service/discovery/openstack/storage_properties.go
  service/discovery/openstack/storage_properties_test.go
Labels: api, internal, service

#1663 Update Dockerfile
  .github/workflows/check-docker-version.yml
  Dockerfile
Labels: api

#1646 [Discovery] Remove raw field from evidence
  api/discovery/discovery.pb.gw.go
  api/discovery/experimental.pb.gw.go
  api/evaluation/evaluation.pb.gw.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_store.pb.gw.go
  api/orchestrator/orchestrator.pb.gw.go
  internal/testutil/servicetest/evidencetest/evidence.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  service/assessment/assessment_test.go
  service/discovery/discovery.go
  service/evidence/evidence_store_test.go
Labels: api, internal, service/assessment, service/discovery, api/evaluation

#1676 api,server: using `ontology.Resource` message in `Evidence.resource`
  .vscode/extensions.json
  api/evidence/evidence.go
  api/evidence/evidence.pb.go
  api/evidence/evidence.proto
  api/evidence/evidence_test.go
  api/ontology/ontology.go
  api/ontology/ontology_test.go
  cli/commands/evidence/evidence_test.go
  internal/testutil/prototest/proto.go
  openapi/assessment/openapi.yaml
  openapi/evidence/openapi.yaml
  openapi/orchestrator/openapi.yaml
  policies/rego_test.go
  service/assessment/assessment.go
  service/assessment/assessment_test.go
  service/assessment/benchmark_test.go
  service/assessment/waiting_request.go
  service/assessment/waiting_request_test.go
  service/discovery/discovery.go
  service/discovery/discovery_test.go
  service/evidence/evidence_store_test.go
Labels: api, internal, service/assessment, policies, service/discovery
